{{ 'jquery.products.min.js' | asset_url | script_tag }}


<div class="clearfix"></div>
<section class="head-room">
  <div class="product-template__container page-width ">
        <aside class="grid">
          <div class="grid__item">
            <div id="recently-viewed-products" class="collection clearfix " >
             <header class="section-header">
              <h2 class="section-header__title border-bottom">Recently Viewed Products</h2>
              <p class="secton-header__description">Products you fell in love with</p>
             </header>
            </div>
          </div>
        </aside>
  </div>
{% assign grid_item_width = 'small--one-half medium-up--one-quarter' %}
   <div class="grid grid--uniform grid--view-items leg-room">
      {% raw %}

      <script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">

    <div class="collection-list-grid" collection-list-mobile="2" collection-list-tablet="3" collection-list-desktop="4">
      <div id="product-${handle}" class="product__card"}>
        <div class="product__card--img">
          <a href="${url}" class="product-link">
            <div class="product__image--wrapper">
            <img src="${Shopify.Products.resizeImage(featured_image, "medium")}" />
            </div>
          </a>
        </div>
        <div class="product__card--content">
          <a href="${url}">
            <h2 class="product__title">${title}</h2>
            <p class="product__variant--price">${amount} </p>
          </a>
        </div>
      </div>
      </div>
      </script>
      {% endraw %}

      <script>
      Shopify.Products.showRecentlyViewed( { howManyToShow:8 } );
      </script>
	</div>
</section>
