.home-page-silver-section {
  border-top: 8px solid #dbae40;
  padding-top: 48px;
  padding-bottom: 48px;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('https://cdn.shopify.com/s/files/1/0560/3695/0174/files/collection-pattern-bg.png'), url('https://cdn.shopify.com/s/files/1/0560/3695/0174/files/collection-pattern.png');
  background-repeat: repeat;
  position: relative;
  &::before,
  &::after{
    content: "";
    display: block;
    width: 84px;
    height: 84px;
    background: url('https://cdn.shopify.com/s/files/1/0560/3695/0174/files/collection-frame.png');
    position: absolute;
    top: 0px;
  }

  &::after{
    left: 0;
  }
  &::before{
    right: 0;
    transform: rotate(90deg);
  }
  .section-content {
    nav {
      @include content-block-max-center;
      display: grid;
      gap: 8px;
      margin-top: 8px;
      margin-left: 8px;
      margin-right: 8px;
      overflow: scroll;
      grid-template-columns: repeat(6, 138px);
      justify-content: flex-start;
      @media (min-width: 768px) {
        justify-content: center;
        gap: 16px;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
      }
      @media (min-width: 992px) {
      }
      @media (min-width: 1140px) {
        overflow: hidden;
        gap: 24px;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(6, 168px);
      }
      a {
        display: block;
        text-align: center;
      }
      img {
        width: 138px;
        height: 138px;
        @media (min-width: 1140px) {
          width: 168px;
          height: 168px;
        }
        border-radius: 50%;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
