.instagram__post--wrapper{
  max-width: var(--content-width);
  margin: 0 4vw;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  @media(min-width: 768px){
    gap: 24px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
  a{
    display: block;
  }
  img{
    width: 100%;
  }
}
