{% form 'create_customer' %}
  {{ form.errors | default_errors }}

  <div class="first-name">
    <label for="first-name">First name</label>
    <input type="text" name="customer[first_name]">
  </div>

  <div class="last-name">
    <label for="last-name">Last name</label>
    <input type="text" name="customer[last_name]">
  </div>

  <div class="email">
    <label for="email">Email</label>
    <input type="email" name="customer[email]">
  </div>

  <div class="password">
    <label for="password">Password</label>
    <input type="password" name="customer[password]">
  </div>

  <div class="password">
    <label for="password-confirmation">Confirm Password</label>
    <input id="password-confirmation" type="password" name="customer[password]" />
  </div>

  <div class="birthday">
    <label for="birthday">Birthday</label>
    <input id="birthday" type="date" name="customer[note][Birthday]" />
  </div>
  <div class="accepts-marketing">
    <input type="hidden" name="customer[accepts_marketing]" value="false" />

    <input type="checkbox" name="customer[accepts_marketing]" />
    <label for="accepts-marketing">Subscribe to email / whatapp marketing</label>
  </div>

  <div class="submit">
    <input type="submit" value="Create">
  </div>
{% endform %}
