.breadcrumbs {
  margin: 16px 0;
  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: inline-block;
    word-break: break-all;
    &:not(:last-child):after {
      content: "/";
      color: #9b9b9b;
      padding: 0 7px;
      font-weight: 500;
    }
  }
  &__link {
    cursor: pointer;
    &[aria-current="page"] {
      color: #a3a3a3;
      font-weight: normal;
      text-decoration: none;
    }
  }
}
