.skip-to-content-link {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.announcement-bar {
  @include z-index(marquee);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  a {
    display: block;
    p {
      display: block;
      text-align: center;
      margin: 0 auto;
      background-color: var(--color-black);
      color: #fff;
      font-size: 12px;
      line-height: 1.4;
      padding: 10px 0px;
    }
  }
}

@mixin content-block-max-center {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

/* header */
.header {
  // padding-top: 42px;
  @include z-index(header);
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  // position: relative;
  &-container {
    background-color: var(--color-white);
    position: relative;
  }
  &-action-list {
    @include content-block-max-center;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-white);
    // padding: 18px 38px;
    padding: 18px 12px;
    display: flex;
    justify-content: space-between;
  }
  &-action-lists {
    display: flex;
    div[class^="header"] {
      cursor: pointer;
      padding: 0 10px;
      margin: 0 2px;
      vertical-align: middle;
      svg {
        vertical-align: middle;
        color: var(--color-black);
      }
      &:first-child {
        margin-left: 0;
        // @media (min-width: 992px) {
        //   display: none;
        // }
      }
      &:nth-child(2),
      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }
    }
    .header-menu,
    .header-currency-price-list {
      display: none;
      @media (min-width: 576px) {
        display: block;
      }
    }
    .header-currency-price-list {
      line-height: 24px;
      position: relative;
      a.pick_currency.mldesk {
        position: static !important;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        .nice-select {
          width: 44px !important;
          padding-left: 0 !important;
          .list {
            left: -8px;
            width: 58px !important;
            .option {
              width: 58px !important;
            }
          }
        }
        span.mlcurrent {
          text-align: left !important;
        }
      }
    }
  }
}
/* header search */
.header {
  &-search-area-wrapper {
    @include z-index(searchAreaWrapper);

    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    position: absolute;
    height: calc(100vh - 0px);
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    &.active {
      opacity: 1;
    }
    .header-search-area-containerWrapper {
      transition: transform 0.6s ease-out;
      transform: translateY(-100%);
      background-color: var(--color-white);
      padding: var(--Ngap) 2vw;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0px;
      @media (min-width: 992px) {
        // top: 43px;
      }
    }
    &.active .header-search-area-containerWrapper {
      transform: translateY(-0px);
      transform: none;
      transition: transform 0.6s ease-in;
    }
    .header-search-area-container {
      text-align: center;
      @include content-block-max-center;
      border: 1px solid var(--color-border);
      border-radius: var(--border-radius);
      .predictive-search {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--color-border);
        input {
          border: 0;
          border-radius: var(--border-radius);
          padding: 10px 40px;
          width: calc(100% - 40px);
          @media (min-width: 992px) {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 20px;
            padding-bottom: 20px;
            width: calc(100% - 40px);
          }
        }
        .input__search-icon {
          position: absolute;
          left: 8px;
        }
        .input__close-icon {
          cursor: pointer;
          position: absolute;
          right: 8px;
        }
      }
      #predictive-search {
        .predictive-content {
          li {
            display: block;
            text-align: left;
            margin: 8px 24px;
            a {
              display: block;
              text-align: left;
              padding-left: 8px;
              padding-right: 8px;
              padding-top: 4px;
              padding-bottom: 8px;
              border-bottom: 1px solid var(--color-border);
            }
            b {
              padding-left: 8px;
            }
            &:last-child {
              a {
                border-bottom: 0;
              }
            }
          }
        }
      }
      #predictive-search-results-list {
        padding: 8px;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
          padding: 16px;
          flex-direction: row;
          flex-wrap: wrap;
        }
        li {
          padding: 0px 8px 16px;
          @media (min-width: 768px) {
            width: 25%;
            padding: 0 14px;
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
          a {
            display: flex;
            @media (min-width: 768px) {
              display: block;
            }
            img {
              border-radius: 4px;
              flex: 0 0 30%;
              min-width: 30%;
              height: auto;
              @media (min-width: 768px) {
                height: auto;
                width: 100%;
              }
            }
            .predictive-search__item-content {
              text-align: left;
              line-height: 1.24;
              font-size: 14px;
              margin-bottom: 0;
              padding-left: 8px;
              flex: 1 0 70%;
              @media (min-width: 768px) {
                padding-left: 0px;
                padding-top: 8px;
                padding-bottom: 18px;
              }
            }
          }
          &:last-child {
            padding: 0px;
            flex: 1 0 100%;
            // margin: 0 18px;
            button {
              width: 100%;
              background: var(--color-primary);
              color: var(--color-white);
              border-radius: 4px;
              padding: 12px 12px;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}
/* common footer */
.header {
  &-nav-list-footer {
    @include z-index(mobileFooter);
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    > div {
      padding: 12px 8px;
      flex: 1 0 auto;
      text-align: center;
      a {
        color: initial;
      }
      span {
        display: block;
        padding-top: 4px;
      }
    }
    @media (min-width: 576px) {
      display: none;
    }
  }
}
/* header desktop menu */
.header {
  &-nav-list-main {
    @include content-block-max-center;
    --border-radius: 2px;
    margin: 0 auto;
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
    .menu-level-1 {
      text-align: center;
      .menu-level-1-item {
        display: inline-block;
        margin: 0 10px;
        a {
          font-size: 13px;
          line-height: 14px;
          padding: 14px 8px;
          @media (min-width: 1100px) {
            padding: 14px 0px;
          }
          color: var(--color-black);
          position: relative;
          &:after {
            content: none;
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--color-primary);
          }
        }
        &:nth-last-child(2) {
          display: block;
          @media (min-width: 992px) {
            display: none;
          }
          @media (min-width: 1100px) {
            display: inline-block;
          }
        }
      }
    }
    .menu-level-2 {
      background-color: var(--color-white);
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      // z-index: 100;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 100%;
      justify-content: center;
      grid-gap: 14px;
      visibility: hidden;
      padding: 10px 10px;
      display: grid;
      &.active {
        visibility: visible;
      }
      .menu-level-2-item {
        a {
          text-transform: uppercase;
          padding: 0;
          text-align: left;
          display: block;
          font-size: 15px;
          line-height: 1.5;
          padding: 5px;
        }
        &-titleImage {
          margin-top: 5px;
          border-radius: var(--border-radius);
        }
        &-image {
          a {
            padding: 0px;
          }
          img {
            border-radius: var(--border-radius);
          }
          .menu-image-title {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            font-weight: 400;
            padding: 22px 0px;
          }
          .menu-image-link-button {
            text-align: center;
            font-size: 14px;
            line-height: normal;
            border-radius: var(--border-radius);
            padding: 8px 12px;
            font-weight: 500;
            color: var(--color-primary);
            background-color: var(--color-white);
            border: 1px solid var(--color-primary);
          }
        }
      }
    }
    .menu-level-3 {
      .menu-level-3-item {
        a {
          text-transform: initial;
          padding-left: 5px;
          padding-right: 5px;
          margin-bottom: 5px;
          margin-top: 5px;
          padding-top: 0;
          padding-bottom: 0;
          font-size: 13px;
          line-height: 24px;
          font-weight: 400;
          word-wrap: break-word;
          border-bottom: 0;
          border-radius: 2px;
          &:hover {
            background-color: #f4f4f4;
          }
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              background-color: #f4f4f4;
            }
          }
        }
        &:last-child a {
          border-bottom: 0;
        }
      }
    }
    .second-menu {
      background-color: var(--color-white);
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      // z-index: 5;
      visibility: hidden;
      position: absolute;
      display: none;
      // border-top: 1px solid var(--color-border);
      &.active {
        visibility: visible;
        display: block;
      }
      .menu-level-2 {
        visibility: visible;
        max-width: var(--content-width);
        margin: 0 auto;
        position: relative;
      }
    }
    a[aria-current="page"],
    .menu-active,
    .menu-child-active,
    .active {
      opacity: 1 !important;
    }
  }
}

.menu-level-2[data-menu-title="saree"],
.menu-level-2[data-menu-title="readymades"] {
  grid-template-columns: repeat(6, 1fr);
}
.menu-level-2[data-menu-title="decor-accessories"] {
  grid-template-columns: repeat(5, 1fr);
}
.menu-level-2[data-menu-title="arthirshtam"] {
  grid-template-columns: repeat(8, 1fr);
}

.header-nav-list-main .menu-level-1-item.kanchipuram,
.header-nav-list-main .menu-level-1-item.mumbai-collection,
.header-nav-list-main .menu-level-1-item.athirshtam {
  .second-menu {
    background: transparent;
    left: initial;
    right: initial;
    .menu-level-2 {
      display: block;
      max-width: 260px;
      margin: 0;
      a {
        padding: 5px;
        border-bottom: 0px;
        text-transform: capitalize;
        font-size: 13px;
        &:hover {
          background-color: #f4f4f4;
        }
      }
    }
  }
}
/* menu active */
#cd-primary-nav .menu-itemActive a{
  background-color: var(--color-maroon) !important;
  color: var(--color-white);
}

/* header burger icon */
.header {
  .cd-nav-trigger {
    display: block;
    @media (min-width: 992px) {
      display: none;
    }
    cursor: pointer;
    svg {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: -8px;
        right: -12px;
        left: -12px;
        bottom: -8px;
        transform: translateZ(0);
      }
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
/* header mobile menu */
.header-mobile-navigation-list {
  display: none;
  &.active {
    @include z-index(mobileSideMenu);
    display: block;
    position: fixed;
    top: 64px;
    left: 0px;
    max-height: none;
    height: calc(100vh - 64px);
    box-shadow: none;
    touch-action: manipulation;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    .Drawer__Container {
      height: 100%;
      box-shadow: 2px 2px 4px #0000001a;
    }
  }
  .cd-primary-nav {
    display: block;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    background-color: var(--color-white);
    width: 50vw;
    // overflow-y: scroll;
    height: 100%;
    overflow-y: auto;
    width: 49%;
    background: #fff;
    padding: 18px 18px;
    li {
      a {
        display: block;
        font-size: 13px;
        line-height: 24px;
        color: var(--color-black);
        padding: 8px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-border);
      }
      &:last-child a {
        border-bottom: 0;
      }
      ul {
        display: none;
        position: fixed;
        right: 0;
        width: 51%;
        background: #fff;
        top: 64px;
        bottom: 0;
        overflow-y: auto;
        padding: 15px 0;
        animation-delay: 0;
        animation-duration: 0.4s;
        animation-name: slideFromleft;
        animation-fill-mode: fowards;
        animation-direction: ease;
        li {
          a {
            padding: 8px;
            margin: 0 8px;
          }
        }
      }
      &.has-children {
        .active {
          display: block;
        }
      }
    }
  }
}

/* menu and search active */
.header-menuActive,
.header-seachActive {
  overflow: hidden;
}

.cart-count {
  display: flex;
  background: var(--color-secondary);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  color: var(--color-black);
  position: absolute;
  top: -10px;
  // z-index: 2;
  width: 22px;
  height: 22px;
  left: 11px;
}

.header-cart {
  position: relative;
}
