<!-- TODO: Need to add dynamic color  -->

{%- if section.settings.show_announcement -%}
{%- if section.settings.home_page_only == false or template.name == 'index' -%}

{%- if section.settings.link == blank -%}
<div>
  {%- else -%}
  <a href="{{ section.settings.link }}">
    {%- endif -%}

    <p> {{ block.settings.text | escape }} </p>

    {%- if section.settings.link == blank -%}
</div>
{%- else -%}
</a>
{%- endif -%}

{%- endif -%}
{%- endif -%}

{% schema %}
{
"name": "Announcement bar",
"max_blocks": 12,
"blocks":[
{
"type" : "announcement",
"name" : "announcement name",

"settings": [
{
"type": "checkbox",
"id": "show_announcement",
"label": "Show announcement",
"default": false
},
{
"type": "checkbox",
"id": "home_page_only",
"label": "Home page only",
"default": true
},
{
"type": "text",
"id": "text",
"label": "Announcement text",
"default": "Welcome to our store"
},
{
"type": "color",
"id": "announcement-background-color",
"label": "Background Color",
"default": "#000000"
},
{
"type": "color",
"id": "announcement-text-color",
"label": "Text Color",
"default": "#ffffff"
},
{
"type": "url",
"id": "link",
"label": "Announcement link"
}
]
}
],
"default": {
"blocks":[
{
"type" : "announcement"
}]
}
}
{% endschema %}
