<!-- TODO: Need to add dynamic color  -->
{% for block in section.blocks %}
{% case block.type %}
{% when 'announcement' %}
<marquee width="60%" direction="left">
<div style="background-color: {{block.settings.announcement-background-color}}; color:{{block.settings.announcement-text-color}}; "
  class="announcement-bar"
  role="region">
  {% if block.settings.text != blank %}
  {% if block.settings.link != blank %}
  <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
    {% endif %}
    <div class="page-width">
      <p class="announcement-bar__message">
        {{ block.settings.text | escape }}
      </p>
    </div>
    {% if block.settings.link != blank %}
  </a>
  {% endif %}
  {% endif %}
</div>
</marquee>
{% endcase %}
{% endfor %}
{% schema %}
{
"name": "Announcement bar",
"max_blocks": 1,
"blocks":[
{
"type" : "announcement",
"name" : "new announcement",
"settings": [
{
"type": "text",
"id": "text",
"label": "Announcement text",
"default": "Welcome to our store"
},
{
"type": "url",
"id": "link",
"label": "Announcement link"
},
{
"type": "color",
"id": "announcement-background-color",
"label": "Background Color",
"default": "#000000"
},
{
"type": "color",
"id": "announcement-text-color",
"label": "Text Color",
"default": "#ffffff"
}
]
}
],
"default": {
"blocks":[
{
"type" : "announcement"
}]
}
}
{% endschema %}
