
<section>
  <div class="section-header-wrapper justify-content-center">
    <div class="section-header">
      <div class="section-header-title">Blogs by Sundari Silks</div>
      <div class="section-header-content">Stories of Fabrics, Styling Tips, Decor Inspiration and more…</div>
    </div>
  </div>
  <div class="section-content">
    <div class="blog-feed-container">
      <div class="blog-feed-card">
        <a href="https://www.sundarisilks.com/blogs/article/how-to-style-a-pastel-saree-this-festive-season"
          target="_blank">
          <img class="blog-feed-card-image"
            src="https://cdn.shopify.com/s/files/1/0490/1158/9282/articles/how-to-style-a-pastel-saree-this-festive-season-cover.progressive.png.jpg?v=1662107457"
            alt="How to style a pastel saree this festive season">
          <h3 class="blog-feed-card-title">How to style a pastel saree this festive season</h3>
          <p class="blog-feed-card-content">The soiree season is upon us! With Onam, Navaratri, Diwali and a number
            of weddings to attend, we’ve got more than one reason to wear our beautiful sarees. Over the past few
            years, Pastel Sarees have proved that are perfect for any occasion. Although at first sight, they may
            suggest otherwise, pastel shades have a warmth that makes it hard to not</p>
          <span class="blog-feed-card-link"> read more </span>
        </a>
      </div>


    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "class": "section",
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "default": "Blogs by Sundari Silks",
    "label": "Blog Title"
  },  {
    "type": "text",
    "id": "richtext",
    "default": "Stories of Fabrics, Styling Tips, Decor Inspiration and more…",
    "label": "Blog Description"
  },
  {
    "type": "blog",
    "id": "blog",
    "label": "Blog"
  }
  ]
}
{% endschema %}
