
<section>
  <div class="section-header-wrapper justify-content-center">
    <div class="section-header">
      <div class="section-header-title">Blogs by Sundari Silks</div>
      <div class="section-header-content">Stories of Fabrics, Styling Tips, Decor Inspiration and more…</div>
    </div>
  </div>
  <div class="section-content">
    <div class="blog-feed-container">
      <div class="blog-feed-card">
        <a href="https://www.sundarisilks.com/blogs/article/how-to-style-a-pastel-saree-this-festive-season"
          target="_blank">
          <img class="blog-feed-card-image"
            src="https://cdn.shopify.com/s/files/1/0490/1158/9282/articles/how-to-style-a-pastel-saree-this-festive-season-cover.progressive.png.jpg?v=1662107457"
            alt="How to style a pastel saree this festive season">
          <h3 class="blog-feed-card-title">How to style a pastel saree this festive season</h3>
          <p class="blog-feed-card-content">The soiree season is upon us! With Onam, Navaratri, Diwali and a number
            of weddings to attend, we’ve got more than one reason to wear our beautiful sarees. Over the past few
            years, Pastel Sarees have proved that are perfect for any occasion. Although at first sight, they may
            suggest otherwise, pastel shades have a warmth that makes it hard to not</p>
          <span class="blog-feed-card-link"> read more </span>
        </a>
      </div>

      <div class="blog-feed-card">
        <a href="https://www.sundarisilks.com/blogs/article/popular-gemstones-and-their-meanings-part-i"
          target="_blank">
          <img class="blog-feed-card-image"
            src="https://cdn.shopify.com/s/files/1/0490/1158/9282/articles/popular-gemstones-and-their-meanings-part-cover.progressive.png.jpg?v=1661340624"
            alt="Popular gemstones and their meanings - Part I">
          <h3 class="blog-feed-card-title">Popular gemstones and their meanings - Part I </h3>
          <p class="blog-feed-card-content">Gemstone jewellery has always been renowned for centuries across the
            world. In addition to the beauty they exude, each stone has its own unique attributes, healing
            properties, significance, and benefits. In this week's blog, we will delve into the meanings and
            symbolism of a few glistening gemstones.
          </p>
          <span class="blog-feed-card-link"> read more </span>
        </a>
      </div>

      <div class="blog-feed-card">
        <a href="https://www.sundarisilks.com/blogs/article/onam-saree-styling-ideas" target="_blank">
          <img class="blog-feed-card-image"
            src="https://cdn.shopify.com/s/files/1/0490/1158/9282/articles/onam-saree-styling-ideas-cover.progressive.png.jpg?v=1660144691"
            alt="Onam saree styling ideas">
          <h3 class="blog-feed-card-title">Onam saree styling ideas</h3>
          <p class="blog-feed-card-content">Onam is just around the corner and it is that time of the year when we
            take out our classic white and gold saree from the wardrobe. There is always beauty in simplicity and an
            Onam saree is a living testament to it. The drape perfectly balances style and sophistication. In this
            blog, we will walk you through a few blouse styles that you can wear this Onam with your Kerala saree.
          </p>
          <span class="blog-feed-card-link"> read more </span>
        </a>
      </div>


      <div class="blog-feed-card">
        <a href="https://www.sundarisilks.com/blogs/article/onam-saree-styling-ideas" target="_blank">
          <img class="blog-feed-card-image"
            src="https://cdn.shopify.com/s/files/1/0490/1158/9282/articles/choosing-the-right-necklace-for-every-neckline-cover.progressive.png.jpg?v=1659693326"
            alt="Choosing the right necklace for every neckline">
          <h3 class="blog-feed-card-title">Choosing the right necklace for every neckline</h3>
          <p class="blog-feed-card-content">When it comes to wearing Necklaces, the neckline matters. Necklines
            influence your overall look and also serve as a canvas for your accessories. Each neckline has a
            necklace that matches it flawlessly, just like how a particular neckline complements a particular body
            shape. When choosing necklaces, a simple rule to remember is that they should either be shorter or
            longer that the neckline of your attire. Keep reading this blog to know more about how to choose the
            right necklace for every neckline.
          </p>
          <span class="blog-feed-card-link"> read more </span>
        </a>
      </div>

      <div class="blog-feed-card">
        <a href="https://www.sundarisilks.com/blogs/article/onam-saree-styling-ideas" target="_blank">
          <img class="blog-feed-card-image"
            src="https://cdn.shopify.com/s/files/1/0490/1158/9282/articles/wedding-guest-styling-guide-cover.progressive.png.jpg?v=1658917679"
            alt="Wedding Guest Styling Guide">
          <h3 class="blog-feed-card-title">Wedding Guest Styling Guide</h3>
          <p class="blog-feed-card-content">Kalyanam is indeed an elaborate affair in India, with numerous functions
            like Engagement, Mehendi, Sangeeth, Reception, Muhurtam and a lot more. Being invited to an Indian
            wedding is exciting because everything about it is amazing, from the delectable food to meeting and
            having a great time with friends and family. What adds to the excitement is deciding what to wear to the
            wedding. If you are looking forward to attending a wedding soon read our blog for some outfits and
            accessories inspiration.
          </p>
          <span class="blog-feed-card-link"> read more </span>
        </a>
      </div>

      <div class="blog-feed-card">
        <a href="https://www.sundarisilks.com/blogs/article/onam-saree-styling-ideas" target="_blank">
          <img class="blog-feed-card-image"
            src="https://cdn.shopify.com/s/files/1/0490/1158/9282/articles/stunning-brides-of-sundari-wedding-saree-inspiration-cover.progressive.png.jpg?v=1658576861"
            alt="Choosing the right necklace for every neckline">
          <h3 class="blog-feed-card-title">The Stunning Brides of Sundari - Wedding Saree Inspiration</h3>
          <p class="blog-feed-card-content">Every saree in a Bridal Trousseau has a story to be told. It is not just
            a saree but a living memory of your big day woven in silk. While the ambience, decorations, food and
            lighting set the mood of the wedding, the highlight of the ceremony is always the beautiful bride
            walking hand in hand with her partner looking dreamy in six yards of elegance. If you are a soon-to-be
            bride looking for some inspiration, explore our “Brides Of Sundari” series where we feature our
            beautiful brides who serve major bridal look goals.
          </p>
          <span class="blog-feed-card-link"> read more </span>
        </a>
      </div>


    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "class": "section",
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "default": "Blogs by Sundari Silks",
    "label": "Blog Title"
  },  {
    "type": "text",
    "id": "richtext",
    "default": "Stories of Fabrics, Styling Tips, Decor Inspiration and more…",
    "label": "Blog Description"
  },
  {
    "type": "blog",
    "id": "blog",
    "label": "Blog"
  }
  ]
}
{% endschema %}
