<div class="page-width">
  <h1 class="title title--primary"> Collection Page</h1>
  {% paginate collections by 24 %}
  <ul class="collection-list grid" role="list">
    {% for collection in collections %}
    <li class="collection-list__item grid__item">
      <div class="card">
        <a href="{{ collection.url }}">
          <div class="card_image">
              {% if collection.metafields.custom.collection_secondary_image.value != blank %}
              {{ collection.metafields.custom.collection_secondary_image.value | image_url: height: "x450",
              crop: 'top' | image_tag: alt: collection.title }}
              {% else %}
              <img src="https://cdn.shopify.com/s/files/1/0560/3695/0174/files/collection-image_x450.png?v=1666460450" alt="">
              {% endif %}
          </div>
          <div class="card__content">
              <h3 class="card__heading">
                  {{collection.title}}
              </h3>
          </div>
      </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="pagination--number">
    {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
  </div>
  {% endpaginate %}
</div>
