<div class="customer-login">
  <div class="customer-login-content">
    {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}
    <h2 class="page-title" id="login">
      Password Reset
    </h2>
    <div class="password">
      <label for="password">Password</label>
      <input id="password" type="password" name="customer[password]">
    </div>
    <div class="password_confirm">
      <label for="password_confirmation">Password confirmation</label>
      <input id="password_confirmation" type="password" name="customer[password_confirmation]">
    </div>
    <div class="submit">
      <input type="submit" value="Reset password">
    </div>
    {% endform %}
  </div>
</div>
