{% form 'reset_customer_password' %}
{{ form.errors | default_errors }}
<div class="password">
  <label for="password">Password</label>
  <input type="password" name="customer[password]">
</div>
<div class="password_confirm">
  <label for="password_confirmation">Password confirmation</label>
  <input type="password" name="customer[password_confirmation]">
</div>
<div class="submit">
  <input type="submit" value="Reset password">
</div>
{% endform %}
