<div class="customer-login">
  <div class="customer-login-content">
    {% form 'create_customer' %}
    {{ form.errors | default_errors }}
    <h2 class="page-title" id="login">
      Register
    </h2>
    <div class="first-name">
      <label for="first-name">First name</label>
      <input type="text" name="customer[first_name]">
    </div>
    <div class="last-name">
      <label for="last-name">Last name</label>
      <input type="text" name="customer[last_name]">
    </div>
    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="customer[email]">
    </div>
    <div class="password">
      <label for="password">Password</label>
      <input type="password" name="customer[password]">
    </div>
    <div class="password">
      <label for="password-confirmation">Confirm Password</label>
      <input id="password-confirmation" type="password" name="customer[password]" />
    </div>
    <div class="birthday">
      <label for="birthday">Date of Birth</label>
      <input id="birthday" type="date" name="customer[note][Birthday]" />
    </div>
    <div class="date-anniversary">
      <label for="date-anniversary">Date of Anniversary</label>
      <input id="date-anniversary" type="date" name="customer[note][Anniversary]" />
    </div>
    <div class="accepts-marketing">
      <input type="hidden" name="customer[accepts_marketing]" value="false" />
      <input id="accepts-marketing" type="checkbox" name="customer[accepts_marketing]" />
      <label for="accepts-marketing">Subscribe here for updates on email &amp; whatsapp</label>
    </div>
    <div class="submit">
      <input class="button button-solid-maroon" type="submit" value="Create">
    </div>
    {% endform %}
    <a href="{{ routes.account_login_url }}">
      Already have an account? Sign in
    </a>
  </div>
</div>

{% schema %}
{
"name": "Customer Account",
"class": "section-customer-account",
"settings": [
{
"type": "text",
"id": "custom_form_title",
"label": "Title",
"default": "Add a title or tagline"
},
{
"type": "textarea",
"id": "custom_form_description",
"label": "Description",
"default": "Add description content"
},
{
"type": "image_picker",
"id": "custom_form_image",
"label": "Image"
}
]
}
{% endschema %}
