<div class="customer-login">
  <div class="customer-login-content">
    {% form 'activate_customer_password' %}
    {{ form.errors | default_errors }}
    <h2 class="page-title" id="login">
      Customer
    </h2>
    <div class="password">
      <label for="password">Password</label>
      <input id="password" type="password" name="customer[password]">
    </div>
    <div class="password_confirm">
      <label for="password_confirmation">Password confirmation</label>
      <input id="password_confirmation" type="password" name="customer[password_confirmation]">
    </div>
    <div class="submit">
      <input type="submit" value="Activate account">
      <span>or</span>
      <input type="submit" name="decline" value="Decline invitation">
    </div>
    {% endform %}
  </div>
</div>
