<section class="drawer" id="drawer-name" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close></div>
  <div class="drawer__wrapper">
    <form action="/cart" method="post" novalidate>
      <div class="drawer__header">
        <div class="drawer__title">
          Cart
          <!--
            <i>
              <span class="cart-item-count"> {{ cart.item_count }} </span> item(s) in bag
            </i>
          -->
        </div>
        <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
      </div>
      <div class="drawer__content" id="cart__drawer">
        <div class="cart-item-no" {% if cart.item_count> 0 %}
          hidden
          {% endif %}
          >
          Your shopping bag is empty.
        </div>

        <div class="cart-popup">
          {% assign productId = '' %}
          {% for item in cart.items limit: 1 %}
            {% assign productId = item.product_id %}
          {% endfor %}
          <div class="d-none" hidden>{{ productId }}</div>
          <div class="cartpopup-body " id="cart__drawer_items"></div>
        </div>

      </div>
      <div class="drawer__footer">
        <p>Shipping & taxes calculated at checkout</p>
        <br>
        <div class="cartpopup-total">
          <span>Total</span>
          {% comment %} <span class="price" id="cart__total_price"></span> {% endcomment %}
          <span class="price" data-hulkapps-cart-total class="cart__total-price"> {{ cart.total_price | money }}</span>
        </div>
        <div class="cartpopup-buttons">
          <a class="button button-outline-maroon" href="{{ routes.cart_url }}">Your Cart</a>
          <button class="button button-solid-maroon" type="submit" name="checkout">PROCEED TO CHECKOUT</button>
        </div>
      </div>
    </form>
  </div>
</section>
