<section class=" silver-section">
  <div class="section-header-wrapper">
    <div class="section-header text-center">
      <div class="section-header-title">Athirshtam Jewellery</div>
      <div class="section-header-content">An eclectic silver jewellery collection embedded with cultural and
        contemporary nuances</div>
    </div>
  </div>
  <div class="section-content">
    <nav>
      <a href="#">
        <img loading="lazy"  src="./images/aj-1.png" alt="">
      </a>
      <a href="#">
        <img loading="lazy"  src="./images/aj-2.png" alt="">
      </a>
      <a href="#">
        <img loading="lazy"  src="./images/aj-3.png" alt="">
      </a>
      <a href="#">
        <img loading="lazy"  src="./images/aj-4.png" alt="">
      </a>
      <a href="#">
        <img loading="lazy"  src="./images/aj-5.png" alt="">
      </a>
      <a href="#">
        <img loading="lazy"  src="./images/aj-6.png" alt="">
      </a>
    </nav>
  </div>
</section>
