<section class="shopify-section homepage-section">
  <section class="virtualshopping">
    <img src="https://cdn.shopify.com/s/files/1/0560/3695/0174/files/VIRUAL_SHOPPING_FINAL-05.png?v=1666809896" alt="" class="desktop" >
    <img src="https://cdn.shopify.com/s/files/1/0560/3695/0174/files/VIRTUAL_SHOPPING_FINAL-04.png?v=1666809891" alt="" class="mobile" >
  </section>
</section>
