<section class="home-page-spotlight-section">
  <div class="spot-light">
    <div class="section-header-wrapper">
      <div class="section-header text-left">
        <div class="section-header-title">{{ section.settings.spotlight-title }}</div>
        <div class="section-header-content">
          <p>{{ section.settings.spotlight-description }}</p>
        </div>
        <a class="section-header-action_link" href="{{ section.settings.spotlight-url }}">
          View All
          <svg width="20" height="20">
            <use href="#link-arrow" />
          </svg>
        </a>
      </div>
    </div>
    <div class="section-content product-collection-list">
        <div class="product-grid-list-three">
          {% assign collection = collections[ section.settings.spotlight-collection ] %}
          {% assign collectionCount = 6 %}
          {% for product in collection.products limit: collectionCount %}
          {% render 'product-card', product:product %}
          {% endfor %}
        </div>

      <a href="{{section.settings.spotlight-url}}" type="button">View All</a>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Spotlight Section",
  "class": "homepage-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "spotlight-title",
      "label": "Section Title",
      "default": "Sundari Spotlight"
    },
    {
      "type": "text",
      "id": "spotlight-description",
      "label": "Section Description",
      "default": "Bringing you our best sellers"
    },
    {
      "type": "collection",
      "id": "spotlight-collection",
      "label": "Collection Name"
    },
    {
      "type": "url",
      "id": "spotlight-url",
      "label": "Link URL"
    },
    {
      "type": "number",
      "id": "spotlight-count",
      "label": "Product Count",
      "default": 3
    }
  ]
}
{% endschema %}
