<section class="shopify-section homepage-section">
<div class="boxs-container-fluid virtual-shopping">
  <div class="virtual-store-image">
    <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/store-banner-image-verion-two.jpg?v=1638388418"
      alt="">
    <div class="virtual-store-details-wrapper">
      <div class="virtual-store-details">
        <p><strong>The Virtual Store Of Exquisite Products</strong> Shop our collection from the comfort of your home
        </p>
        <div class="button-wrapper">
          <a href="https://campaign.sundarisilks.com/virtual-shopping"> <span class="icon"> <svg
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
                <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                  d="M15.833 3.333H4.167C3.247 3.333 2.5 4.08 2.5 5v11.667c0 .92.746 1.666 1.667 1.666h11.666c.92 0 1.667-.746 1.667-1.666V5c0-.92-.746-1.667-1.667-1.667zM13.334 1.667V5M6.667 1.667V5M2.5 8.333h15">
                </path>
              </svg> </span> Book an Appointment </a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
