<section class="shopify-section homepage-section">
  <section class="virtualshopping">
    <img src="https://cdn.shopify.com/s/files/1/0560/3695/0174/files/demo.jpg?v=1666761886" alt="" style="display: block; margin: 0 auto; display: block;">
    <!-- <div class="wrapper">
      <div class="box a">
        <img src="https://cdn.shopify.com/s/files/1/0560/3695/0174/files/virtual-image-1.png?v=1666721616" alt="">
      </div>
      <div class="box b">
        <span>The Virtual Store Of Exquisite Products </span>
        <span>Shop our collection from the comfort of your home</span>
      </div>
      <div class="box c">
        <img src="https://cdn.shopify.com/s/files/1/0560/3695/0174/files/hhh-03.png?v=1666761140" alt="">
       </div>
      <div class="box d">
      <img src=" https://cdn.shopify.com/s/files/1/0560/3695/0174/files/hhh-02.png?v=1666761140" alt="">
      </div>
      <div class="box e">
        <a href="https://campaign.sundarisilks.com/virtual-shopping"> <span class="icon"> <svg
              xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
              <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                d="M15.833 3.333H4.167C3.247 3.333 2.5 4.08 2.5 5v11.667c0 .92.746 1.666 1.667 1.666h11.666c.92 0 1.667-.746 1.667-1.666V5c0-.92-.746-1.667-1.667-1.667zM13.334 1.667V5M6.667 1.667V5M2.5 8.333h15">
              </path>
            </svg> </span> Book an Appointment </a>
      </div>
    </div> -->
  </section>
</section>
