<section class="shopify-section homepage-section">
  <div class="boxs-container-fluid info-box">
    <div class="boxs-container">
      <div class="information-boxs">
        <div class="information-box">
          <h6>Free shipping</h6>
          <p>For orders above INR 4,000 within India</p>
        </div>
        <div class="information-box">
          <h6>Save and Buy Scheme</h6>
          <p><a href="https://sundarisilksindia.in/">Click here to pay</a><br><a
              href="https://sundarisilksindia.in/">&nbsp;your monthly subscription</a></p>
        </div>
        <div class="information-box">
          <h6>Call Us: IST 09:00 - 19:00</h6>
          <p><a href="tel:+919962712299">+(91) 99627 12299</a> <br> <a href="tel:+919962368753">+(91) 99623 68753</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
