
<section>
  <div class="section-header-wrapper justify-content-center">
    <div class="section-header">
      <div class="section-header-title">Follow us on Instagram</div>
      <div class="section-header-content">Use #SundariAndYou when you Instagram your favourite Sundari outfits</div>
    </div>
  </div>
  <div class="section-content">
    <!-- <div class="instagram__post--wrapper">
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-1.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-2.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-3.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-4.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-5.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-6.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-7.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-8.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-1.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-2.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-3.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-4.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-5.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-6.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-7.jpeg" alt="">
        </a>
      </div>
      <div class="instagram__post--image">
        <a href="#">
          <img loading="lazy"  src="/images/instagram-8.jpeg" alt="">
        </a>
      </div>
    </div> -->
  </div>
</section>

