
<section class="main-slider">
  <div class="owl-carousel owl-theme">
    <div class="item">
      <h4>1</h4>
    </div>
    <div class="item">
      <h4>2</h4>
    </div>
    <div class="item">
      <h4>3</h4>
    </div>
    <div class="item">
      <h4>4</h4>
    </div>
    <div class="item">
      <h4>5</h4>
    </div>
    <div class="item">
      <h4>6</h4>
    </div>
    <div class="item">
      <h4>7</h4>
    </div>
    <div class="item">
      <h4>8</h4>
    </div>
    <div class="item">
      <h4>9</h4>
    </div>
    <div class="item">
      <h4>10</h4>
    </div>
    <div class="item">
      <h4>11</h4>
    </div>
    <div class="item">
      <h4>12</h4>
    </div>
  </div>
</section>


<section class="shop-the-look">
  <div class="section-header-wrapper justify-content-center">
    <div class="section-header">
      <div class="section-header-title">Shop the Look</div>
      <div class="section-header-content">Find the perfect look for any occasion with our latest style guides</div>
    </div>
  </div>
  <div class="section-content">
    <img loading="lazy"  src="/images/shop-look.png" alt="">
    <div class="shop-look-cta">
      <button class="btn btn-icon btn-icon-first">
        <svg width="24" height="24">
          <use href="#cart" />
        </svg>
        Shop the ensemble!
      </button>
    </div>
  </div>
</section>


