<div class="page-404">
<h1 class="page__title"> {{ section.settings.no-found-title }}  </h1>
<div class="page__description empty-404">
<p>
  {{ section.settings.not-found-content }}
</p>
<a href="{{ routes.all_products_collection_url }}" type="button" class="button button-solid-maroon">
  {{ section.settings.not-found-cta }}
</a>
</div>
</div>
{% schema %}
{
	"name": "404 page",
	"class": "section-404",
	"settings": [
		{
			"type": "text",
			"id": "no-found-title",
			"label": "404 Title",
			"default": "Sorry! There’s been an error"
		},
    {
      "type": "textarea",
      "id": "not-found-content",
      "label": "404 Content",
      "default": "Vanakkam, this page does not exist. The URL entered is either invalid or does not exist anymore. You can always search the homepage to find what you’re looking for!"
    },
    {
      "type": "text",
      "id": "not-found-cta",
      "label": "CTA Text",
      "default": "Go to the Homepage"
    },
    {
      "type": "url",
      "id": "not-found-url",
      "label": "CTA URL",
      "default": "/collections/all"
    }
	]
}
{% endschema %}
