<div class="page-cart">
  <h1 class="page__title"> My Cart </h1>
<div class="page__decription" hidden>
  <ul>
    <li>Vanakkam!</li>
    <li>
      Payments can now be made via PayPal through Cashfree payment gateway.
      </li>
      <li>
        Kindly note that you can now make payments through both PayPal and Cashfree.
      </li>
  </ul>
</div>

{%- if cart.item_count > 0 -%}
  <form class="cart_wrapper" action="/cart" method="post">
    <div class="cart__items cart_block">
      {% for line_item in cart.items %}
       {% render 'line-item', line_item: line_item, index: forloop.index %}
       {% endfor %}
    </div>
    <div class="cart__details card__block">
      <label for="CartNote">  Special Instructions For Seller <br> Add special instructions for your order...</label>
      <textarea name="note" id="CartNote">{{ cart.note }}</textarea>

      <div class="cart__total">
        <strong class="cart__total-text">Total:</strong>
        <span  data-hulkapps-cart-total class="cart__total-price"> {{ cart.total_price | money }}</span>
      </div>
      <p>Shipping charges will be added at checkout.
      </p>
      <!-- I would like to receive order information on whatsapp -->
      <div>
      {%- comment -%} <button class="button" type="submit"> Update Quantities </button> {%- endcomment -%}
      <button class="button page-cart-atbutton" type="submit" name="checkout"> Checkout </button>
    </div>
    </div>
  </form>

  {%- else -%}
  <div class="empty-cart">

<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
    <p>The cart is empty. <a href="/collections/all">Continue shopping</a></p>
  </div>
  {%- endif -%}
</div>
