<div class="page-cart page-cart-version-two">
  {%- if cart.item_count > 0 -%}
  <div class="cart-content">
    <h1 class="page__title"> Shopping Cart  </h1>
    <div class="page__decription" hidden>
      <ul>
        <li>Vanakkam!</li>
        <li>
          Kindly note that you can now make payments through both Razorpay and Cashfree.
        </li>
      </ul>
    </div>
    <form class="cart_wrapper" action="/cart" method="post">
      <div class="cart__items cart_block">
        <ul class="card__items-title">
          <li>Products</li>
          <li>Total</li>
        </ul>
        {% for line_item in cart.items %}
        {% render 'line-item', line_item: line_item, index: forloop.index %}
        {% endfor %}
      </div>
      <div class="cart__details card__block">
        <div class="card_detail-note">
          <label for="CartNote">  Add Order Note </label>
          <textarea name="note" id="CartNote">{{ cart.note }}</textarea>
        </div>
        <div class="cart__action card__block">
          <div class="cart__total">
            <strong class="cart__total-text">Sub Total:</strong>
            <span class="cart__total-price"> {{ cart.total_price | money }}</span>
          </div>
          <p class="cart__total--shippment">Shipping & taxes calculated at checkout</p>
          <!-- I would like to receive order information on whatsapp -->
          <div class="cart-action-button">
            <button class="page-cart-atbutton" type="submit" name="checkout">
            PROCEED TO CHECKOUT
          </button>
            <a class="page-card-atllink" href="{{shop.url}}">Continue Shopping</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  {%- else -%}
  <div class="cart-empty text-center">
    <h2 class="page__title">Shopping Bag is Empty</h2>
    <p class="page__decription">Your shopping bag is empty.</p>
    <a type="button" class="button button-solid-maroon" href="{{ shop.secure_url }}">Continue shopping</a>
  </div>
  {%- endif -%}
</div>
