<div class="page-sale"></div>
{% schema %}
  {
    "name": "Banner",
    "class": "sale-banner",
    "blocks": [
      {
        "name": "banner",
        "type": "section",
        "settings": [
          {
            "type": "image_picker",
            "id": "sale-banner-desktop",
            "label": "Desktop Banner"
          }, {
            "type": "image_picker",
            "id": "sale-banner-mobile",
            "label": "Mobile Banner"
          }
        ]
      }
    ]
  }
{% endschema %}