 
  <div class="page-account">
    <aside class="page-account-navigation">
      <nav>
        <a href="/account">Account Details</a>
        <a  class="active" href="/account/orders">My Orders </a> 
        <a href="/pages/swym-wishlist">My Wishlist </a> 
        <a href="/account/addresses">Address</a> 
        <a href="{{ routes.account_logout_url }}">Sign Out </a>
      </nav>
    </aside>

    <section>
       
    </section>
  </div>

 
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}