<div class="container container--sm">
    {%- for block in section.blocks -%}
    <div class="faqs border-top">
        <h2>{{ block.settings.question }}</h2>
        <div>
            {{ block.settings.answer }}
        </div>
    </div>
    {%- endfor -%}
</div>


{% schema %}
{
"name": "FAQs",
"blocks": [
{
"type": "section",
"name": "Section",
"settings": [
{
"type": "text",
"id": "question",
"label": "Question"
},
{
"type": "textarea",
"id": "answer",
"label": "Answer"
}
]
}
]
}
{% endschema %}
