{% comment %} <section class="shopify-section page-header-image">
    <img class="banner-image"
        src="https://cdn.shopify.com/s/files/1/0490/1158/9282/collections/Sample.png?v=1670344847"
        alt="">
    <p class="banner-text collection-page-title ">Contact Us </p>
</section> {% endcomment %}
<div class="policy-page__container">
    {%- for block in section.blocks -%}
    <div class="faqs border-top">
        <h2 class="faqQuestion">{{ block.settings.question }}</h2>
        <div class="faqAnswer">
            {{ block.settings.answer }}
        </div>
    </div>
    {%- endfor -%}
</div>


{% schema %}
{
"name": "FAQs",
"blocks": [
{
"type": "section",
"name": "Section",
"settings": [
{
"type": "text",
"id": "question",
"label": "Question"
},
{
"type": "textarea",
"id": "answer",
"label": "Answer"
}
]
}
]
}
{% endschema %}
