<div class="collection-page-header">
  <div class="collection-page-title">
    {% if collection.title != blank %}
    <h1>{{ collection.title }}</h1>
    {% endif %}
  </div>
</div>

{% render 'filter' %}

<div class="fixedElement section-{{ section.id }}-padding">
  <section>
    {% paginate collection.products by 28 %}
    <div class="collection-list-grid" collection-list-mobile="2" collection-list-tablet="3" collection-list-desktop="4">
      {% for product in collection.products %}
      {% render 'product-card', product:product %}
      {% endfor %}
    </div>
    <div class="pagination--number">
      {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
    </div>
    {% endpaginate %}
  </section>
</div>
