<div class="page-account">

    <section class="page-wishlist">
      {{ page.content }}
    </section>

  </div>


  {% schema %}
    {
      "name": "Section name",
      "settings": []
    }
  {% endschema %}

  {% stylesheet %}
  {% endstylesheet %}

  {% javascript %}
  {% endjavascript %}
