<div class="modal fade" id="productInfoModal">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <svg width="24" height="24">
            <use href="#close" />
          </svg>
        </button>
        <div class="row">
          <div id="productInfoModalContent"></div>
        </div>
      </div>
    </div>
  </div>
</div>
