{% assign collection = collections[ section.settings.show_collection ] %}

<section>
  <div class="collection-list-grid" collection-list-mobile="2" collection-list-tablet="3" collection-list-desktop="4">
    {% for product in collection.products limit:4 %}
      {% render 'product-card', product:product %}
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Product per Collection",
  "class": "section-random-product",
  "settings": [
  {
    "type": "text",
    "id": "show_collection",
    "label": "Collection Name as per Title in collection page",
    "default": "all"
  },
    {
      "type": "number",
      "id": "show_productcount",
      "label": "How many product need to show",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "show_soldout",
      "label": "Hide sold out products",
      "default": false
    }
  ],
  "presets": [
      {
          "name": "Product List/Collection",
          "category": "product"
      }
  ]
}
{% endschema %}
