<div class="wishlist__grid flex container" grid-wishlist>
  {% comment %} Sample loading element {% endcomment %}
  <p class="wishlist__loader full-width text-center">Loading...</p>
</div>

{% schema %}
  {
    "templates": ["page"]
  }
{% endschema %}
