.test--product-card--grid-three {
  margin: 0 4vw;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.test--product-card--grid-four {
  margin: 0 4vw;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

.product__card--img {
  position: relative;
  z-index: 1;
}
.product__card--img a {
  display: block;
}
.product__card--img .product__card-cta {
  position: absolute;
  bottom: 0px;
  background: #282b2f;
  opacity: 0.8;
  width: 100%;
  z-index: 98;
  display: none;
}
.product__card--img .product__card-cta a {
  padding: 16px;
  display: block;
  color: var(--pure-white);
  text-align: center;
}
.product__card:hover div {
  display: block;
}
.product__image {
  position: relative;
}
.product__image--wrapper {
  position: relative;
}
.product__image--wrapper img {
  width: 100%;
  border-radius: var(--border-radius);
}
.product__status {
  position: absolute;
  top: 10px;
  left: 8px;
}
.product__status-soldout {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  background-color: #f00;
  border-radius: var(--border-radius);
  padding: 4px 8px;
  font-family: var(--font-montserrat);
}
.product__title {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: var(--font-playfair);
  color: var(--pure-black);
  font-feature-settings: "pnum" on, "lnum" on;
}
.product__price-list {
  color: var(--black);
  margin-top: 8px;
}
.product__price-list span {
  font-size: 14px;
  font-family: var(--font-montserrat);
}
.product__variant--list {
  margin-top: 8px;
  color: var(--black);
}
.product__variant--list-name:not(:last-child) {
  margin-right: 8px;
}
.product__variant--vendor, .product__variant--title, .product__variant--weight, .product__variant--price, .product__variant--sku, .product__variant--barcode {
  margin-top: 8px;
  color: var(--light-black);
  font-family: var(--font-montserrat);
}