.pagination--number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8vw auto;
  @media (min-width: 768px) {
  margin: 60px auto;
  }
  span {
    & {
      transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
      border-bottom: 1px solid #dddddd;
      a {
        padding: 10px 10px;
        @media (min-width: 768px) {
          padding: 16px 20px;
        }
        display: inline-block;
        color: inherit;
      }
      &.current {
        padding: 10px 10px;
        @media (min-width: 768px) {
          padding: 16px 20px;
        }
        color: var(--primary-color);
        border-bottom-color: var(--primary-color);
        box-shadow: 0 -2px var(--primary-color) inset;
      }
      &.deco{
        padding: 10px 10px;
        @media (min-width: 768px) {
          padding: 16px 20px;
        }
      }
      &.prev,
      &.next {
      }
    }
  }
}
