<div class="page">
  <div class="container ">
    <div class="rte">
      <div class="container padding-tb-30">
        <h2 style="color: #890b16; padding-bottom: 0px; text-align: center;">80 years of crafting tradition and beyond!
        </h2>
      </div>
      <div class="container padding-bottom-60">
        <div class="row curated_row">
          <div class="col-md-6 men_women_div">
            <div><img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/about4.jpg" class="border-green"
                style="width: 100%;" /></div>
          </div>
          <div class="col-md-6 curated_heading_sys">
            <h3>A Fabric Interwoven With Culture</h3>
            What began as a humble attempt to bring forth India's diverse handloom heritage to the world, lead us on a
            journey of 80 years, and counting. Through the finest fabrics from across the land, the magical hands that
            work the loom paint a vibrant picture of the life around us. The wisdom and skills of our ancestral legacy
            date back to the time before our brand was born and has been our guiding light as we forge the path ahead.
          </div>
        </div>
      </div>
      <div class="container padding-bottom-60">
        <div class="row curated_row">
          <div class="col-md-6 men_women_div about-responsive-mobile">
            <div><img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/about2.jpg" class="border-green"
                style="width: 100%;" /></div>
          </div>
          <div class="col-md-6 curated_heading_sys">
            <h3>The Essence Of An Old-World Charm</h3>
            The ethereal aura of our showroom transports you to the bygone days of royalty and unhurried luxury. At
            every step, we have kept up with the times whilst remaining rooted in our values, to ensure that the great
            Indian fabric regains its charm forever. Our collection of classic yet contemporary works of art are
            unmistakably Indian but garner an ever-growing global appeal.
          </div>
          <div class="col-md-6 men_women_div about-responsive-web">
            <div><img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/about2.jpg" class="border-green"
                style="width: 100%;" /></div>
          </div>
        </div>
      </div>
      <div class="container padding-bottom-60">
        <div class="row curated_row">
          <div class="col-md-6 men_women_div">
            <div><img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/about3.jpg" class="border-green"
                style="width: 100%;" /></div>
          </div>
          <div class="col-md-6 curated_heading_sys">
            <h3>The Pioneers Of Craftsmanship</h3>
            Our handcrafted repertoire of sarees takes you on a journey across the length and breadth of our country.
            Right from Kanchipuram Silks and Tussar Weaves to Banarasi Brocades and Andhra Printed Drapes, the options
            are endless. Our products also venture beyond to vibrant ethnic wear, home furnishings, curated handicrafts
            and vintage artefacts.
          </div>
        </div>
      </div>
      <div class="container padding-bottom-60 padding-top-20">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h3 class="text-responsive-cl">We put you, our customers, at the heart of everything we do and find joy in
              continuously keeping up with your aspirations and sense of taste and style. We welcome you to be part of
              our eternal endeavour.</h3>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      <div class="container-fluid padding-bottom-60" style="background: #fff9f3;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 style="margin: 0;">The journey so far...<br /><br /></h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>1939</h3>
              <p>The foundation to preserve and propagate our country's diverse weaving heritage was laid by Radha
                Krishnan Chettiyar.</p>
            </div>
            <div class="col-md-4">
              <h3>1949</h3>
              <p>We became the first to export silk shirts and introduced the concept of sarees with pre-designed
                blouses. It was also with great pride that we curated a special collection for Her Majesty the Queen of
                England.</p>
            </div>
            <div class="col-md-4">
              <h3>1954</h3>
              <p>On the lookout to constantly innovate, we were inspired by a close family relative to design the
                much-beloved Bavanch border.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3>1959</h3>
              <p>By being the first to introduce tie and dye techniques on Kanchipuram silks, we incorporated modern
                designs on traditional drapes.</p>
            </div>
            <div class="col-md-4">
              <h3>1969</h3>
              <p>In an industry-first move, we brought in the barcode system to our shopping process.</p>
            </div>
            <div class="col-md-4">
              <h3>1998</h3>
              <p>The brand Sundari Silks was born, and the first showroom was opened in Chennai.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3>1999</h3>
              <p>With an increase in demand and our growing desire to build our weaving repertoire, we opened the
                Thirucharai unit with 70 looms.</p>
            </div>
            <div class="col-md-4">
              <h3>2003</h3>
              <p>In less than 5 years, our Thirucharai unit saw massive growth and had scope for further expansion.</p>
            </div>
            <div class="col-md-4">
              <h3>2009</h3>
              <p>We started our online shopping portal during this year and simultaneously introduced a one-of-a-kind
                blouse customisation service.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3>2010</h3>
              <p>To keep up with the growing customer base, we opened a new weaving unit at Arani and also introduced
                the first Kanchipuram linen saree.</p>
            </div>
            <div class="col-md-4">
              <h3>2011</h3>
              <p>It was with immense pride that we opened the doors to our Mumbai showroom in Vile Parle and thus
                expanding our base to the City of Dreams.</p>
            </div>
            <div class="col-md-4">
              <h3>2012-2018</h3>
              <p>We introduced the concept of weaving bamboo fibre with silk and also expanded our collection to ethnic
                wear for women, men and kids.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3>2019</h3>
              <p>A year of many firsts, right from the incorporation of copper zari in Kanchipuram silk sarees to
                starting the 2 in 1 Upada &amp; Jacquard technique and to the expansion of our Mumbai showroom.</p>
            </div>
          </div>
        </div>
      </div>
      <style type="text/css">
        <!--
        .text-responsive-cl {
          text-align: center;
        }

        .padding-tb-30 {
          padding-top: 0px;
          padding-bottom: 0px;
        }

        .padding-tb-15 {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        .padding-tb-30 h2 {
          font-size: 34px;
        }

        .padding-bottom-60 {
          padding-top: 60px;
          padding-bottom: 60px;
        }

        .about-responsive-mobile {
          display: none;
        }

        .border-green {
          border: 2px solid #116736;
        }

        #information-information #content {
          background: #fff0e1 !important;
        }

        body {
          background: #fff0e1 !important;
        }

        .col-md-6.curated_heading_sys p {
          font-size: 16px !important;
          line-height: 27px;
        }

        .padding-top-20 {
          padding-top: 20px !important;
        }

        @media(max-width:1440px) {
          .curated_heading_sys {
            padding: 0 35px !important;
          }
        }

        @media(max-width:1199px) {
          .text-responsive-cl {
            text-align: left;
            margin-top: 0;
          }

          .about-responsive-mobile {
            display: block;
          }

          .about-responsive-web {
            display: none !important;
          }

          .curated_row {
            display: block;
            margin: 0px;
          }

          .col-md-6.men_women_div {
            display: block;
            width: 100%;
          }

          .curated_heading_sys {
            padding: 0 15px !important;
          }

          .col-md-6.curated_heading_sys {
            display: block;
            width: 100%;
          }

          .padding-bottom-60 {
            padding-top: 20px;
            padding-bottom: 50px;
          }
        }

        @media screen and (max-width: 991px) {
          .display-custom-flex {
            display: block;
          }

          .padding-top-20 {
            padding-top: 20px !important;
            padding-bottom: 40px !important;
          }
        }

        @media screen and (max-width: 767px) {
          .padding-tb-30 {
            padding-top: 10px;
            padding-bottom: 0;
          }

          .padding-tb-30 h2 {
            font-size: 24px;
          }

          .padding-bottom-60 {
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }

        @media screen and (max-width: 530px) {
          .padding-bottom-60 {
            padding-left: 0px !important;
            padding-right: 0px !important;
          }

          .curated_heading_sys h2 {
            font-size: 22px !important;
          }

          .col-md-6.curated_heading_sys p {
            font-size: 14px !important;
            line-height: 25px !important;
          }

          .curated_heading_sys {
            padding: 0 !important;
          }

          #information-information #content {
            padding: 0px !important;
          }

          .text-responsive-cl {
            font-size: 22px;
            margin-top: 0;
          }

        }
        -->
      </style>
    </div>
  </div>
</div>
