<section class="section-rahasaya">
  <p
    class="text-spotlight text-para"
  >
    Here's the secret to stealing the spotlight!
  </p>
  <img
    class="image-center rahasya-logo"
    src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-logo.png?v=1680520073"
    alt="rahasya logo"
  >
  <h3
    class="text-para"
  >
    Latest Innovations Unleashed
  </h3>
  <p
    class="text-subpara"
  >
    We have launched Rahasya to portray our continual and distinct contribution to the legacy of silk sarees and
    handloom traditions. Rahasya is an exclusive collection of sarees woven in-house with exceptional designs and unique
    colour palettes.
  </p>
  <div class="">
    <img
      class="image-center rahasya-logo"
      src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-image.png?v=1680521172"
      alt="rahasya image"
    >
    {% comment %} <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-frame.png?v=1680521450" alt=""> {% endcomment %}
    <div>
      <h3
        class=""
        style="font-size: 16px; line-height: 31px; color: #dbcfa9; font-weight: 500; font-style: italic; font-family: 'Montserrat'; text-align: center;"
      >
        Designs you cannot find anywhere else
      </h3>
      <p
        class=""
        style="font-size: 16px; line-height: 31px; color: #dbcfa9; font-weight: 500; font-style: italic; font-family: 'Montserrat'; text-align: center;"
      >
        Every saree in our Rahasya Collection is a unique work of art that will transcend time, seasons and generations.
        Meticulously designed and woven in-house by our artisans, it will win you over with exceptional craftsmanship,
        experimental designs, and unique artists expressions.
      </p>
    </div>
  </div>
  <h3
    class=""
    style="font-size: 19px; line-height: 31px; color: #dbcfa9; font-weight: 600; font-family: 'Montserrat'; text-align: center;"
  >
    We Invite you to our Chennai Showroom
  </h3>
  <p style="font-size: 19px; line-height: 31px; color: #dbcfa9; font-weight: 600; font-family: 'Montserrat'; text-align: center;">
    Please note that the sarees in this collection are limited; we go to great lengths to ensure you'll never find one
    like any other. None of the sarees in the Rahasya Collection is even featured in our social, advertising or website.
  </p>
  <img
    class="image-center"
    src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-divider.png?v=1680521450"
    alt=""
  >
  <p style="font-size: 30px; line-height: 40px; color: #dbcfa9; font-weight: 400; font-style: italic; font-family: 'Playfair Display'; text-align: center;">
    Treat yourself to these wardrobe treasures in the secrecy of our showroom.
  </p>
</section>
