<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-logo2x.png?v=1680843219"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundarisilks-rahasya-image.png?v=1680536260"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-divider.png?v=1680521450"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundarisilks-rahasya-frames_2x_31968f87-740d-43ef-91c3-95b94eeca0fd.png?v=1680846143"
>

<section class="section-rahasaya">
  <p class="text-title">Open your eyes to a world of reimagined artistry</p>
  <img
    class="image-center rahasya-logo"
    src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-logo2x.png?v=1680843219"
    alt="rahasya logo"
  >
  <div class="latest-innovation">
    <p class="text-subpara">
      Indulge in a limited collection of Kanjivarams, <br>
      expertly crafted in-house with the utmost attention to detail.
    </p>
  </div>
  <div class="rahasya-image-wrapper">
    <img
      class="image-center rahasya-image"
      src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundarisilks-rahasya-image.png?v=1680536260"
      alt="rahasya image"
      loading="lazy"
    >
    <div class="design-cant-find">
      {% comment %} <h3 class="text-subpara fw:500 fs:18"><strong>What's Special About Rahasya?</strong></h3> {% endcomment %}
      <h3 class="text-title fw:400">What's Special About Rahasya?</h3>
      <p class="text-subpara">
        A truly exclusive addition to your wardrobe,<br>
        no two sarees in Rahasya will look alike!<br>
        Behold never-seen-before designs, patterns, and textures<br>
        that hasn't graced any other saree.
      </p>
    </div>
    <div class="we-invite">
      {% comment %} <h3 class="text-title fw:500">Wardrobe Treasures Exclusive to our Chennai Store</h3> {% endcomment %}
      <p class="text-subpara">
        Explore new heights of innovation with exceptional craftsmanship,<br>
        experimental designs, and unique artistic expressions.
      </p>
      <img
        class="image-center"
        src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-divider.png?v=1680521450"
        alt=""
      >
      <p class="treat-yourself fs:italic">
        Discover the intricate features of this collection,<br>
        guarded in the secrecy of our Chennai showroom.
      </p>
      <p class="text-subpara">
        Walk in & ask for Rahasya, take home a wardrobe treasure!<br>
        36, N Usman Rd, Parthasarathi Puram, T. Nagar, Chennai.
      </p>
    </div>
  </div>
</section>
