<section class="page-rahasaya">
  <p>Here’s the secret to stealing the spotlight!</p>
  <img src="" alt="">
  <h3>Latest Innovations Unleashed</h3>
  <p>
    We have launched Rahasya to portray our continual and distinct contribution to the legacy of silk sarees and
    handloom traditions. Rahasya is an exclusive collection of sarees woven in-house with exceptional designs and unique
    colour palettes.
  </p>
  <div>
    <img src="" alt="">
    <div>
      <h3>Designs you cannot find anywhere else</h3>
      <p>
        Every saree in our Rahasya Collection is a unique work of art that will transcend time, seasons and generations.
        Meticulously designed and woven in-house by our artisans, it will win you over with exceptional craftsmanship,
        experimental designs, and unique artists expressions.
      </p>
    </div>
  </div>
  <h3>We Invite you to our Chennai Showroom</h3>
  <p>
    Please note that the sarees in this collection are limited; we go to great lengths to ensure you'll never find one
    like any other. None of the sarees in the Rahasya Collection is even featured in our social, advertising or website.
  </p>
  <img src="" alt="">
  <p>Treat yourself to these wardrobe treasures in the secrecy of our showroom.</p>
</section>
