<div class="page page-aboutus">
  <h2 class="page-aboutus-centertitle">80 years of crafting tradition and beyond!</h2>
  <section class="aboutus-card">
    <div class="aboutus-image">
      <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/about4.jpg" />
    </div>
    <div class="aboutus-content">
      <h2>A Fabric Interwoven With Culture</h2>
      <p>What began as a humble attempt to bring forth India's diverse handloom heritage to the world, lead us on a
        journey of 80 years, and counting. Through the finest fabrics from across the land, the magical hands that work
        the loom paint a vibrant picture of the life around us. The wisdom and skills of our ancestral legacy date back
        to the time before our brand was born and has been our guiding light as we forge the path ahead.</p>
    </div>
  </section>
  <section class="aboutus-card">
    <div class="aboutus-image">
      <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/about2.jpg" />
    </div>
    <div class="aboutus-content">
      <h2>The Essence Of An Old-World Charm</h2>
      <p>The ethereal aura of our showroom transports you to the bygone days of royalty and unhurried luxury. At every
        step, we have kept up with the times whilst remaining rooted in our values, to ensure that the great Indian
        fabric regains its charm forever. Our collection of classic yet contemporary works of art are unmistakably
        Indian but garner an ever-growing global appeal.</p>
    </div>
  </section>
  <section class="aboutus-card row-reverse">
    <div class="aboutus-image">
      <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/about3.jpg" />
    </div>
    <div class="aboutus-content">
      <h2>The Pioneers Of Craftsmanship</h2>
      <p>Our handcrafted repertoire of sarees takes you on a journey across the length and breadth of our country. Right
        from Kanchipuram Silks and Tussar Weaves to Banarasi Brocades and Andhra Printed Drapes, the options are
        endless. Our products also venture beyond to vibrant ethnic wear, home furnishings, curated handicrafts and
        vintage artefacts.</p>
    </div>
  </section>
  <div class="aboutus-quote">
    We put you, our customers, at the heart of everything we do and find joy in continuously keeping up with your
    aspirations and sense of taste and style. We welcome you to be part of our eternal endeavour.
  </div>
  
  <section>
    
    {% comment %} <p class="pre-timeline-data">The journey so far...</p> {% endcomment %}

    <div class="aboutus-timeline">
      <div class="timeline-card">
        <h4 class="timeline-title">1939</h4>
        </p class="timeline-content">
        The foundation to preserve and propagate our country's diverse weaving heritage was laid by Radha Krishnan
        Chettiyar.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">1949</h4>
        </p class="timeline-content">
        We became the first to export silk shirts and introduced the concept of sarees with pre-designed blouses. It was
        also with great pride that we curated a special collection for Her Majesty the Queen of England.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">1954</h4>
        </p class="timeline-content">
        On the lookout to constantly innovate, we were inspired by a close family relative to design the much-beloved
        Bavanch border.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">1959</h4>
        </p class="timeline-content">
        By being the first to introduce tie and dye techniques on Kanchipuram silks, we incorporated modern designs on
        traditional drapes.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">1969</h4>
        </p class="timeline-content">
        In an industry-first move, we brought in the barcode system to our shopping process.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">1998</h4>
        </p class="timeline-content">
        The brand Sundari Silks was born, and the first showroom was opened in Chennai.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">1999</h4>
        </p class="timeline-content">
        With an increase in demand and our growing desire to build our weaving repertoire, we opened the Thirucharai
        unit with 70 looms.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">2003</h4>
        </p class="timeline-content">
        In less than 5 years, our Thirucharai unit saw massive growth and had scope for further expansion.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">2009</h4>
        </p class="timeline-content">
        We started our online shopping portal during this year and simultaneously introduced a one-of-a-kind blouse
        customisation service.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">2010</h4>
        </p class="timeline-content">
        To keep up with the growing customer base, we opened a new weaving unit at Arani and also introduced the first
        Kanchipuram linen saree.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">2011</h4>
        </p class="timeline-content">
        It was with immense pride that we opened the doors to our Mumbai showroom in Vile Parle and thus expanding our
        base to the City of Dreams.
        </p>
      </div>

      <div class="timeline-card">
        <h4 class="timeline-title">2012-2018</h4>
        </p class="timeline-content">
        We introduced the concept of weaving bamboo fibre with silk and also expanded our collection to ethnic wear for
        women, men and kids.
        </p>
      </div>
      <div class="timeline-card">
        <h4 class="timeline-title">2019</h4>
        </p class="timeline-content">
        A year of many firsts, right from the incorporation of copper zari in Kanchipuram silk sarees to starting the 2
        in 1 Upada & Jacquard technique and to the expansion of our Mumbai showroom.
        </p>
      </div>
    </div>
</section>