<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-logo.png?v=1680520073"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundarisilks-rahasya-image.png?v=1680536260"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-divider.png?v=1680521450"
>

<section class="section-rahasaya">
  <p class="text-title">Here's the secret to stealing the spotlight!</p>
  <img
    class="image-center rahasya-logo"
    src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-logo.png?v=1680520073"
    alt="rahasya logo"
  >
  <div class="latest-innovation">
    <p class="text-subpara">
      Featuring exquisite sarees woven in-house, Rahasya potrays our continual & <br>
      distinct contribution to the legacy of silk sarees and handloom traditions.
    </p>
  </div>
  <div class="rahasya-image-wrapper">
    <img
      class="image-center rahasya-image"
      src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundarisilks-rahasya-image.png?v=1680536260"
      alt="rahasya image"
      loading="lazy"
    >
    <div class="design-cant-find">
      <h3 class="text-subpara fw:500 "><strong>Designs you cannot find anywhere else</strong></h3>
      <p class="text-subpara">
        Every saree in our Rahasya Collection is a unique work<br>
        of art that will transcend time, seasons and generations. <br>
        Meticulously designed and woven in-house by our artisans, <br>
        it will win you over with exceptional craftsmanship, experimental<br>
        designs, and unique artists expressions.
      </p>
    </div>
    <div class="we-invite">
      <h3 class="text-title fw:500">Wardrobe Treasures Exclusive to our Chennai Store</h3>
      <p class="text-subpara">
        We go to great lengths to ensure<br>
        you'll never find one saree like another! <br>
        A legacy to treasure, Rahasya remains a guarded secret<br>
        amidst the shelves of our showroom.
      </p>
      <img
        class="image-center"
        src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-divider.png?v=1680521450"
        alt=""
      >
      <p class="treat-yourself fs:italic">
        Treat yourself to these wardrobe treasures <br>
        in the secrecy of our showroom.
      </p>
      <p class="text-subpara">36, N Usman Rd, Parthasarathi Puram, T. Nagar, Chennai.</p>
    </div>
  </div>
</section>
