<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-logo.png?v=1680520073"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundarisilks-rahasya-image.png?v=1680536260"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-divider.png?v=1680521450"
>

<section class="section-rahasaya">
  <p class="text-title">Here's the secret to stealing the spotlight!</p>
  <img
    class="image-center rahasya-logo"
    src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-logo.png?v=1680520073"
    alt="rahasya logo"
  >
  <div class="latest-innovation">
    <h3 class="text-title">Latest Innovations Unleashed</h3>
    <p class="text-subpara">
      We have launched Rahasya to portray our continual and <br>
      distinct contributionto the legacy of silk sarees and handloom traditions. <br>
      Rahasya is an exclusive collection of sarees woven in-house with exceptional designs and unique colour palettes.
    </p>
  </div>
  <div class="rahasya-image-wrapper">
    <img
      class="image-center rahasya-image"
      src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundarisilks-rahasya-image.png?v=1680536260"
      alt="rahasya image"
      loading="lazy"
    >
    <div class="design-cant-find">
      <h3 class="text-title">Designs you cannot find anywhere else</h3>
      <p class="text-subpara fs:italic">
        Every saree in our Rahasya Collection is a unique <br>
        work of art that will transcend time, seasons and generations. <br>
        Meticulously designed and woven in-house by our artisans, <br>
        it will win you over with exceptional craftsmanship, <br>
        experimental designs, and unique artists expressions.
      </p>
    </div>
    <div class="we-invite">
      <h3 class="text-title fw:500">We Invite you to our Chennai Showroom</h3>
      <p class="text-subpara">
        Please note that the sarees in this collection are limited; <br>
        we go to great lengths to ensure you'll never find one like any other. <br>
        None of the sarees in the Rahasya Collection is <br>
        even featured in our social, advertising or website.
      </p>
      <img
        class="image-center"
        src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/rahasya-divider.png?v=1680521450"
        alt=""
      >
      <p class="treat-yourself fs:italic">
        Treat yourself to these wardrobe treasures <br>
        in the secrecy of our showroom.
      </p>
    </div>
  </div>
</section>
