.collection-page-header {
  // @include content-block-max-center;
margin-left: 4vw;
margin-right: 4vw;
  margin-bottom: 28px;
  &-image {
    margin-bottom: 28px;
    img {
      width: 1920px;
      width: 100%;
      height: 340px;
      object-fit: cover;
      object-position: top center;
    }
  }
  p {
    font-family: var(--font-montserrat);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--pure-black);
  }
}

.collection-page-action-list {
  @include content-block-max-center;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  .collection-action-sortyby {
    font-size: 14px;
    line-height: 1.25;
    select{
      padding: 12px 8px;
    }
  }
}


// What are the different modes of payment available?
// Currently, we offer 2 payment methods - PayPal and PayU Payment Gateway (Net banking, credit cards, debit cards, wallets and UPI). The default payment currency is set to INR. You can change it from the drop-down button at the top your page.
// What are the different plans available under the Save and Buy Scheme?
// There 3 types of 1 year plan available as of now, valued at INR 300, INR 500 and INR 1,000 per month. Additionally, there will be one lucky draw chosen on the 20th of every month through tokens and further details of which can be obtained in the T&C.
