.meFilter {
  .filer--overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    @include z-index(filterDrawerWrapper);
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
    background-color: var(--color-black);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &.is-visible {
    .filer--overlay {
      opacity: 0.5;
    }
    .fitler--wrapper {
      transform: translateY(0);
    }
  }
  .fitler--wrapper {
    position: fixed;
    margin: 0 auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 420px;
    @include z-index(filterDrawer);
    overflow: auto;
    transition: transform 0.3s;
    will-change: transform;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateY(103%);
    transform: translateY(103%);
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 6px #777;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    .filter--header {
      display: flex;
      justify-content: space-between;
      padding: 16px 8px 8px;
      margin-bottom: 8px;
      border-bottom: 1px solid var(--color-border);
      font-size: 18px;
      font-weight: 500;
    }
    form.filter-form {
      position: relative;
      .filter--content {
        height: calc(100vh - 52px - 78px);
      }
      .filter-group {
        overflow: hidden;
        flex: 1 0 50%;
        max-width: 50%;
        min-width: 50%;
        border-right: 1px solid var(--color-border);
        summary {
          cursor: pointer;
          div {
            font-size: 14px;
            padding: 8px;
            border-bottom: 1px solid var(--color-border);
            span + span {
              margin-left: 4px;
            }
          }
          &:hover {
            div {
              background-color: #e6e6e6;
            }
          }
        }
        &[open] summary {
          background-color: var(--color-secondary);
          &:hover {
            div {
              background-color: #e6e6e6;
            }
          }
        }
        &:last-child {
          div {
            border-bottom: 0;
          }
        }
      }
      .filter-group-display {
        flex: 1 0 50%;
        min-width: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        // max-height: 230px;
        overflow-y: scroll;
        .filter-group-display__list {
          li {
            label {
              display: block;
              padding: 8px;
              text-align: left;
              &:has(input[disabled]) {
                text-decoration: line-through;
                opacity: 0.2;
                cursor: not-allowed;
                display: none;
              }
            }
            @supports (-webkit-appearance: none) or (-moz-appearance: none) {
              input[type="checkbox"],
              input[type="radio"] {
                --active: #f58220;
                --active-inner: #fff;
                --focus: 2px rgba(39, 94, 254, 0.3);
                --border: #bbc1e1;
                --border-hover: #275efe;
                --background: #fff;
                --disabled: #f6f8ff;
                --disabled-inner: #e1e6f9;
                -webkit-appearance: none;
                -moz-appearance: none;
                height: 21px;
                outline: none;
                display: inline-block;
                vertical-align: top;
                position: relative;
                margin: 0;
                cursor: pointer;
                border: 1px solid var(--bc, var(--border));
                background: var(--b, var(--background));
                transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
                &:after {
                  content: "";
                  display: block;
                  left: 0;
                  top: 0;
                  position: absolute;
                  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
                    opacity var(--d-o, 0.2s);
                }
                &:checked {
                  --b: var(--active);
                  --bc: var(--active);
                  --d-o: 0.3s;
                  --d-t: 0.6s;
                  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
                }
                &:disabled {
                  --b: var(--disabled);
                  cursor: not-allowed;
                  opacity: 0.9;
                  &:checked {
                    --b: var(--disabled-inner);
                    --bc: var(--border);
                  }
                  & + label {
                    cursor: not-allowed;
                  }
                }
                &:hover {
                  &:not(:checked) {
                    &:not(:disabled) {
                      --bc: var(--border-hover);
                    }
                  }
                }
                &:focus {
                  box-shadow: 0 0 0 var(--focus);
                }
                &:not(.switch) {
                  width: 21px;
                  margin-right: 8px;
                  &:after {
                    opacity: var(--o, 0);
                  }
                  &:checked {
                    --o: 1;
                  }
                }
                & + label {
                  font-size: 14px;
                  line-height: 21px;
                  display: inline-block;
                  vertical-align: top;
                  cursor: pointer;
                  margin-left: 4px;
                }
              }
              input[type="checkbox"] {
                &:not(.switch) {
                  border-radius: 7px;
                  &:after {
                    width: 5px;
                    height: 9px;
                    border: 2px solid var(--active-inner);
                    border-top: 0;
                    border-left: 0;
                    left: 7px;
                    top: 4px;
                    transform: rotate(var(--r, 20deg));
                  }
                  &:checked {
                    --r: 43deg;
                  }
                }
                &.switch {
                  width: 38px;
                  border-radius: 11px;
                  &:after {
                    left: 2px;
                    top: 2px;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    background: var(--ab, var(--border));
                    transform: translateX(var(--x, 0));
                  }
                  &:checked {
                    --ab: var(--active-inner);
                    --x: 17px;
                  }
                  &:disabled {
                    &:not(:checked) {
                      &:after {
                        opacity: 0.6;
                      }
                    }
                  }
                }
              }
              input[type="radio"] {
                border-radius: 50%;
                &:after {
                  width: 19px;
                  height: 19px;
                  border-radius: 50%;
                  background: var(--active-inner);
                  opacity: 0;
                  transform: scale(var(--s, 0.7));
                }
                &:checked {
                  --s: 0.5;
                }
              }
            }
            input {
              padding-right: 4px;
            }
          }
        }
      }
    }
    .filter--footer {
      background: var(--color-white);
      border-top: 1px solid var(--color-border);
      position: relative;
      bottom: 0;
      width: 100%;
      padding: 8px;
      text-align: center;
      .filter-group-display__submit {
        display: flex;
        gap: 12px;
        > a,
        input {
          flex: 1 0 auto;
          min-width: auto;
        }
      }
      .active-filters__clear,
      .filter-group-display__submit input {
        flex: 1 0 50%;
        min-width: 50%;
        // font-size: 16px;
        // padding: 14px 16px !important;
        // color: var(--color-black);
        // background-color: var(--color-secondary);
        // font-weight: 400;
        // font-style: normal;
        // -webkit-tap-highlight-color: initial;
        // text-align: center;
        // line-height: normal;
        // border: 1px solid transparent;
        // border-radius: 0;
        // text-transform: uppercase;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // border-radius: 4px;
      }
      .active-filters__clear {
        background-color: transparent;
      }
    }
  }
}
.meFilter-active {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  .active-filters {
    display: flex;
    justify-content: flex-start;
    margin-right: 40px;
  }
  .active-filters__remove-filter,
  .active-filters__clear {
    flex: 1 0 auto;
    font-size: 12px;
    background: var(--color-secondary);
    // margin-bottom: var(--Ngap);
    margin-right: 4px;
    padding: 4px 6px;
    border-radius: 20px;
    @media (min-width: 768px) {
      border-radius: 20px;
      margin-right: 8px;
      padding: 8px 12px;
    }
    &:hover {
      text-decoration: line-through;
    }
    .iconClose {
      padding: 4px;
      border-radius: 25px;
      width: 22px;
      height: 22px;
      display: inline-block;
      font-size: 13px;
      line-height: 22px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    + .active-filters__clear {
      background: var(--color-border);
      display: inline-block;
    }
  }
  .active-filters__remove-filter {
    display: inline-block;
  }
  .active-filters__clear {
    display: none;
  }
}
.fixedElement {
  @media (min-width: 768px) {
    padding-top: 40px;
    &.sticky {
      padding-top: 96px;
    }
  }
}
.meFitlerMobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 56px;
  @include z-index(meFilter);
  &.sticky {
    position: fixed;
    bottom: 0;
  }
  @media (min-width: 768px) {
    position: sticky;
    &.sticky {
      position: fixed;
      top: 156px;
      bottom: initial;
    }
  }
  .filterCardToggle {
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }
  }
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #f7f7f5;
  box-shadow: 1px 1px #d6d6d4, -1px -1px #d6d6d4;
  // z-index: 2;
  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  .filteAction {
    display: flex;
    white-space: nowrap;
    width: 100%;
    > div {
      position: relative;
      flex: 1 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (min-width: 768px) {
      width: auto;
      border-left: 1px solid var(--color-border);
    }

    #filterButton {
      white-space: nowrap;
      border-right: 1px solid var(--color-border);
      cursor: pointer;
      padding: 18px 22px;
      text-align: center;
      font-size: 14px;
      line-height: normal;
      justify-content: center;
      align-items: center;
      background: transparent;
      svg {
        margin-right: 4px;
      }
    }
    #sortButton {
      cursor: pointer;
      ul#sort-by {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background: var(--color-white);
        padding: 8px;
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        margin: 0 8px;
        @include z-index(sort_overlay);
        li {
          cursor: pointer;
          padding: 8px;
          &:not(:last-child) {
            border-bottom: 1px solid var(--color-border);
          }

          &:hover {
            background-color: #e6e6e6;
          }
        }
      }

      &:hover ul#sort-by {
        display: block;
      }
    }
  }
}

body.hidden {
  overflow: hidden;
}

.CollectionToolbar__LayoutType {
  margin: 0 6px;
  opacity: 0.2;
  transition: opacity 0.25s ease-in-out;
  svg {
    width: 18px;
    height: 18px;
  }
  &.is-active {
    opacity: 1;
  }
}

.card__item-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card__item-content h5 {flex: 1 0 100%;}
