.meFilter {
  .filer--overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
    background-color: var(--pure-black);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &.is-visible {
    .filer--overlay {
      opacity: 0.5;
    }
    .fitler--wrapper {
      transform: translateY(0);
    }
  }
  .fitler--wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 60px);
    max-width: 420px;
    z-index: 10999;
    overflow: auto;
    transition: transform 0.3s;
    will-change: transform;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateY(103%);
    transform: translateY(103%);
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 6px #777;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    .filter--header {
      display: flex;
      justify-content: space-between;
      padding: 16px 8px 8px;
      margin-bottom: 8px;
      border-bottom: 1px solid var(--border-color);
    }
    form.filter-form {
      position: relative;

      .filter-group {
        flex: 1 0 50%;
        min-width: 50%;
        border-right: 1px solid var(--border-color);
        summary {
          cursor: pointer;
          padding: 8px;
          margin-bottom: 0px;
        }
        &:last-child {
          summary {
            border-right: 0;
            margin-right: 0;
          }
        }
      }

      .filter-group-display {
        flex: 1 0 50%;
        min-width: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        max-height: 230px;
        overflow-y: scroll;

        .filter-group-display__list {
          li {
            display: block;
            padding: 8px;
            text-align: left;
            input {
              padding-right: 4px;
            }
          }
        }
      }

      .filter-group-display__submit input {
        margin: 16px 0 0;
        padding: 16px 16px;
        font-size: 16px;
        line-height: 1.5;
        width: 100%;
      }
    }
    .filter--footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 16px;
      text-align: center;
      .filter-group-display__submit input {
        margin-top: 12px;
        font-size: 12px;
        padding: 14px 20px !important;
        color: var(--pure-black);
        background-color: var(--secondary-color);
        font-weight: 400;
        font-style: normal;
        z-index: 1;
        -webkit-tap-highlight-color: initial;
        text-align: center;
        line-height: normal;
        border: 1px solid transparent;
        border-radius: 0;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
      }
    }
  }
}
.meFilter-active {
  display: flex;
  justify-content: space-between;
  margin-left: var(--Ngap);
  margin-right: var(--Ngap);
  @media (min-width: 1364px) {
    margin-left: 60px;
    margin-right: 60px;
  }
  .active-filters__clear {
    display: none;
  }
  .active-filters__remove-filter {
    padding: 8px 12px;
    margin-right: 8px;
    display: inline-block;
    background: var(--secondary-color);
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 40px;
    &:hover {
      text-decoration: line-through;
    }
    .iconClose {
      // background: var(--pure-white);
      padding: 4px;
      border-radius: 25px;
      width: 22px;
      height: 22px;
      display: inline-block;
      font-size: 13px;
      line-height: 22px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    + .active-filters__clear {
      margin-bottom: 40px;
      padding: 8px 16px;
      display: inline-block;
      background: var(--border-color);
      border-radius: 20px;
      display: inline-block;
    }
  }
}

.meFitlerMobile {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;
  background: var(--pure-white);
  div {
    padding: 18px 8px;
    flex: 1 0 50%;
    text-align: center;
    font-size: 14px;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 18px;
      height: 18px;
    }
    &.mobileFilterSortBy {
      border-left: 1px solid var(--border-color);
    }
    select {
      outline: 0px;
      border: 0px;
      background: transparent;
    }
  }
}

body.hidden {
  overflow: hidden;
}
