.meFilter {
  position: relative;
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 40px;
  margin-left: var(--Ngap);
  margin-right: var(--Ngap);
  padding: 14px 6px;
  @media (min-width: 1364px) {
    margin-left: 60px;
    margin-right: 60px;
  }
  .filter-form {
    flex: 1 0 auto;
    display: flex;
    .filter-group {
      summary {
        cursor: pointer;
        padding: 8px 8px 8px 8px;
        margin-right: 8px;
        border-right: 1px solid var(--border-color);
      }
      &:last-child {
        summary {
          border-right: 0;
          margin-right: 0;
        }
      }
    }
  }
}
.meFilter-active {
  display: flex;
  justify-content: space-between;
  margin-left: var(--Ngap);
  margin-right: var(--Ngap);
  @media (min-width: 1364px) {
    margin-left: 60px;
    margin-right: 60px;
  }
  .active-filters__clear {
    display: none;
  }
  .active-filters__remove-filter {
    padding: 8px 12px;
    margin-right: 8px;
    display: inline-block;
    background: var(--secondary-color);
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 40px;
    &:hover {
      text-decoration: line-through;
    }
    .iconClose {
      // background: var(--pure-white);
      padding: 4px;
      border-radius: 25px;
      width: 22px;
      height: 22px;
      display: inline-block;
      font-size: 13px;
      line-height: 22px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    + .active-filters__clear {
      margin-bottom: 40px;
      padding: 8px 16px;
      display: inline-block;
      background: var(--border-color);
      border-radius: 20px;
      display: inline-block;
    }
  }
}

.filter-group-display {
  z-index: 5;
  margin: 12px auto 0;
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: var(--border-radius);
  background: var(--border-color);
  padding: 12px 8px;

  .filter-group-display__header {
    display: none;
  }

  .filter-group-display__list {
    li {
      display: inline-block;
      vertical-align: baseline;
      padding: 8px;
      margin-right: 8px;
      text-align: center;
      input {
        padding-right: 4px;
      }
    }
  }
}

.meFitlerMobile {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;
  background: var(--pure-white);
  @media (min-width: 768px) {
    display: none;
  }
  div {
    padding: 18px 8px;
    flex: 1 0 50%;
    text-align: center;
    font-size: 16px;
    line-height: normal;
    svg {
      width: 18px;
      height: 18px;
    }
    &.mobileFilterSortBy {
      border-left: 1px solid var(--border-color);
    }
    select {
      outline: 0px;
      border: 0px;
      background: transparent;
    }
  }
}
