form.filter-form {
  display: flex;
  align-items: center;
  .filter-group {
    div {
      margin-bottom: 0;
    }
    &-summary {
      div {
        font-weight: 500;
        font-size: 14px;
        display: inline-block;
        padding: 12px;
        margin: 0 4px;
        cursor: pointer;
        position: relative;
        /*  */

    border-radius: 20px;
    background-color:var(--pure-white);
      cursor: pointer;
      white-space: nowrap;
      padding: 5px 8px 5px 10px;
      }
    }
    &-display {
      margin: 8px 4vw 0;
      padding: 16px;
      border-radius: 4px;
      background-color: var(--pure-white);
      position: absolute;
      left: 0;
      right: 0;
      z-index: 8;
      &__list {
        margin: 0;
        padding: 0;
        display: inline-block;
        &-item {
          display: inline-block;
          padding: 10px;
          label {
            margin-bottom: 0;
            display: flex;
            cursor: pointer;
            input {
              width: 24px !important;
              height: 24px !important;
              margin-right: 8px !important;
              padding-right: 8px;
              display: inline-block;
            }
            span{
              // flex: 1 0 calc(100% - 24px);
              display: inline-block;
            }
          }
        }
      }
      &__submit {
        display: inline-block;
        input {
          color: var(--pure-white);
          background-color: var(--primary-color);
        }
      }
    }
  }
  .active-filters {
    margin-bottom: 0;
  }
}
#wrap.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  width: 100%;
  padding: 0 4vw;
}
.collection-page-action-active {
  margin: 0 4vw 28px;
  .active-filters__clear {
    // display: none;
  }
  .active-filters__remove-filter {
    background-color: var(--pure-white);
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 18px;
    font-family: var(--font-montserrat);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.85);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*  */
    position: relative;
    background-color:var(--pure-white);
    text-transform: capitalize;
    color: #3e4152;
    cursor: default;
    font-size: 12px;
    padding: 5px 26px 5px 10px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border-radius: 20px;
    border: 1px solid #d4d5d9;
    /*  */
    &-value{

    }
    &-closeIcon{
      // background-color: red;
      padding: 4px 6px;
      font-style: normal;
      border-radius: 50%;
      // margin-left: 8px;
      font-size: 12px;
      line-height: 14px;
      width: 20px;
      height: 20px;
      /*  */
      position: absolute;
      top: 4px;
      right: 4px;
      width: 18px;
      height: 20px;
      z-index: 1;
      text-align: center;
      cursor: pointer;

    vertical-align: middle;
    opacity: .7;
    }
  }
}
