.collection-page-header {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 28px;
  &-image {
    overflow: hidden;
    margin-bottom: 28px;
    height: 142px;
    @media(min-width: 768px){
      height: 280px;
    }
    img {
      width: auto;
      height: 142px;
      object-fit: cover;
      object-position: center;
      height: 142px;
      @media(min-width: 768px){
        width: 100%;
        height: 280px;
      }
      object-fit: cover;
      object-position: center;
    }
  }
  p {
    font-family: var(--font-montserrat);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--pure-black);
  }
}

.collection-page-action-list {
  border-top: 1px solid #D4D5D9;
  border-bottom: 1px solid #D4D5D9;
  justify-content: space-around;
  padding: 12px 0px;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 28px;
  display: flex;
  @media(min-width: 768px){
  // display: none;
  }
  .collection-filter {
    flex: 1 0 auto;
  }
  .collection-action-sortyby {
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.25;
    select {
      cursor: pointer;
      padding: 12px 8px;
    }
  }
}

