:root {
  --mobile: 576px;
  --tablet: 768px;
  --laptop: 992px;
  --desktop: 1140px;
  --content-width: 1200px;
  --font-playfair: "Playfair Display", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --gutter-full: 24px;
  --gutter-half: 12px;
  --gutter-mobile: 8px;
  --menu-font-size: 16px;
  --font-h1: 48px;
  --font-h2: 38px;
  --font-h3: 24px;
  --font-h4: 20px;
  --font-h5: 18px;
  --font-para: 16px;
  --font-14: 14px;
  --font-button: 14px;
  --font-12: 12px;
  --font-10: 10px;
  --pure-black: #000;
  --pure-white: #fff;
  --light-black: #222;
  --border-color: #e8e8e1;
  --background-color: #fef1e1;
  --primary-color: #1d5d31;
  --secondary-color: #fdd933;
  --border-radius: 4px;
  --shadow-8dp: 0px 8px 10px rgba(0, 0, 0, 0.14),
    0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (prefers-reduced-motion: reduce) {
  * {
    transition: 0.01s !important;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-black);
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
}
body {
  font-size: inherit;
  line-height: inherit;
  background-color: #fff;
  background-color: #fef1e1;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
}
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0s !important;
    -o-transition-duration: 0s !important;
    transition-duration: 0s !important;
  }
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 10px;
  box-shadow: inset 0 0 0 10px;
}
::-webkit-scrollbar-track {
  margin-inline-end: 24px;
  margin-inline-start: 20px;
  margin: 0 var(--carousel-padding);
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#MainContent {
  position: relative;
  z-index: 1;
}
.text-center {
  text-align: center;
}
@mixin content-block-max-center {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}
.block-center {
  margin-left: auto;
  margin-right: auto;
}
.image-radius {
  border-radius: 4px;
}
b,
strong {
  font-weight: 500;
}
em,
i {
  font-style: italic;
}
a {
  color: inherit;
}
// button
.button,
button,
a[type="button"] {
  border: 0;
  outline: 0;
  font-size: var(--font-button);
  font-weight: 500;
  font-family: var(--font-montserrat);
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 1.25;
}
.button {
  &--primary {
    background: var(--primary-color);
    color: var(--pure-white);
    transition: all 0.2s ease-in;
    &:hover,
    &:focus {
      background: transparent;
      color: var(--primary-color);
    }
    &:focus {
      outline: 1px solid var(--primary-color);
    }
  }
  &--ghost {
    background: transparent;
    color: var(--primary-color);
    transition: all 0.2s ease-in;
    &:hover,
    &:focus {
      background: var(--primary-color);
      color: var(--pure-white);
    }
    &:focus {
      outline: 1px solid var(--primary-color);
    }
  }
}
form {
  // div {
  //   margin-bottom: 28px;
  // }
  label {
    margin-bottom: 8px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  input {
    outline: 0px;
    border: 0px;
    padding: 12px 16px;
    background: #ffffff;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: block;
    width: 100%;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}
#shopify-chat iframe,
iframe#dummy-chat-button-iframe {
  bottom: 70px !important;
}
.prpdocutSlider .slick-dots {
  top: 0;
  bottom: initial;
  right: 0;
  width: auto;
}
.image {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.grid-view-item__image-wrapper .image {
  position: absolute;
  top: 0;
}
.image.lazyload {
  opacity: 0;
}
.image-wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
/*
    [{"type":"Shirts","value":[{"age":"1 yrs","value":[{"size":"14","shoulder":"9 1/2 ","sleeves":"11 1/2","chest":"20 1/2","height":"14 1/2"}]},{"age":"2 yrs","value":[{"size":"16","shoulder":"10 1/2 ","sleeves":"12 1/2","chest":"22","height":"17 1/2"}]},{"age":"3 yrs","value":[{"size":"18","shoulder":"11","sleeves":"13","chest":"25","height":"18 1/2"}]}]},{"type":"Pants","value":[{"age":"4 yrs","value":[{"size":"14","shoulder":"9 1/2 ","sleeves":"11 1/2","chest":"20 1/2","height":"14 1/2"}]},{"age":"5 yrs","value":[{"size":"16","shoulder":"10 1/2 ","sleeves":"12 1/2","chest":"22","height":"17 1/2"}]},{"age":"6 yrs","value":[{"size":"18","shoulder":"11","sleeves":"13","chest":"25","height":"18 1/2"}]}]}]
*/
.sizeChart {
  display: flex;
  .sizeChartLable {
    display: flex;
    ul {
      li {
        border: 1px solid var(--border-color);
        span {
          width: 80px;
          display: block;
          font-weight: 500;
          padding: 4px;
          border-bottom: 1px solid var(--border-color);
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
  .sizeChartValue {
    ul {
      display: flex;
      li {
        border: 1px solid var(--border-color);
        span {
          width: 80px;
          display: block;
          font-weight: 400;
          padding: 4px;
          border-bottom: 1px solid var(--border-color);
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
.sizeChatTitle {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  font-family: var(--font-playfair);
  margin-bottom: 18px;
}
.cart-count {
  position: absolute;
  top: -10px;
  right: 2px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 100%;
  color: var(--pure-white);
  background: #fdd933;
  border: 1px solid #fdd933;
  transition: all 0.3s ease-in-out;
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}
a#cart-icon-bubble {
  position: relative;
}
