.skip-to-content-link {
  display: none;
  opacity: 0;
  visibility: hidden;
}

#shopify-section-announcement-bar {
  a {
    display: block;

    p {
      display: block;
      text-align: center;
      margin: 0 auto;
      background-color: var(--pure-black);
      color: #fff;
      font-size: 12px;
      line-height: 1.4;
      padding: 10px 0px;
    }
  }
}

.header {
  &-action-list {
    @include content-block-max-center;

    border-bottom: 1px solid var(--border-color);
    background-color: var(--pure-white);
    padding: 18px 38px;
    display: flex;
    justify-content: space-between;
  }
  &-action-lists {
    display: flex;
    div[class^="header"] {
      padding: 0 10px;
      margin: 0 2px;
      vertical-align: middle;
      svg {
        vertical-align: middle;
        color: var(--pure-black);
      }
      &:first-child {
        margin-left: 0;
        @media(min-width: 992px){
          display: none;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-search-area-wrapper {
    display: none !important;
  }
  &-nav-list-main {

    @include content-block-max-center;
    --border-radius: 2px;
    margin: 0 auto 48px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    .menu-level-1 {
      display: flex;
      flex-direction: column;
      @media(min-width: 992px){
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .menu-level-1-item {
        display: inline-block;
        a {
          font-size: 13px;
          line-height: 13px;
          padding: 14px 8px;
          @media(min-width: 1100px){
            padding: 14px 12px;
          }
          color: var(--pure-black);
          position: relative;
          &:after {
            content: none;
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--primary-color);
          }
        }

        a[aria-current="page"] {
          opacity: 1;
          font-weight: 500;
          color: var(--primary-color);
          border-bottom-color: var(--primary-color);
        }
        &:first-child {
          display: none;
        }
        &:nth-last-child(2) {
          display: block;
          @media(min-width: 992px){
            display: none;
          }
          @media(min-width: 1100px){
            display: block;
          }
        }
      }
    }
    .menu-level-2 {
      background-color: var(--pure-white);
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 100;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 20px 10px;
      display: grid;
      display: none;
      grid-gap: 24px;
      grid-template-columns: repeat(6, 200px);
      width: 100%;
      justify-content: center;
      .menu-level-2-item {
        a {
          text-transform: uppercase;
          padding-left: 0;
          padding-right: 0;
          text-align: left;
          display: block;
          border-bottom: 1px solid var(--border-color);
        }
        &-image {
          a {
            padding: 0px;
          }
          img {
            border-radius: var(--border-radius);
          }
          .menu-image-title {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            font-weight: 400;
            padding: 22px 0px;
          }
          .menu-image-link-button {
            text-align: center;
            font-size: 14px;
            line-height: normal;
            border-radius: var(--border-radius);
            padding: 8px 12px;
            font-weight: 500;
            color: var(--primary-color);
            background-color: var(--pure-white);
            border: 1px solid var(--primary-color);
          }
        }
      }
    }
    .menu-level-3 {
      .menu-level-3-item {
        a {
          text-transform: initial;
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 5px;
          margin-top: 5px;
          padding-top: 0;
          padding-bottom: 0;
          font-size: 13px;
          line-height: 32px;
          font-weight: 400;
          word-wrap: break-word;
        }
      }
    }
  }
  &-nav-list-footer {
    display: none;
  }
}



