.skip-to-content-link {
  display: none;
  opacity: 0;
  visibility: hidden;
}
#shopify-section-announcement-bar {
  a {
    display: block;
    p {
      display: block;
      text-align: center;
      margin: 0 auto;
      background-color: var(--pure-black);
      color: #fff;
      font-size: 12px;
      line-height: 1.4;
      padding: 10px 0px;
    }
  }
}
body {
  overflow-x: hidden;
}
/* header */
.header {
  position: relative;
  &-container {
    background-color: var(--pure-white);
    position: relative;
  }
  &-action-list {
    @include content-block-max-center;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--pure-white);
    // padding: 18px 38px;
    padding: 18px 12px;
    display: flex;
    justify-content: space-between;
  }
  &-action-lists {
    display: flex;
    div[class^="header"] {
      cursor: pointer;
      padding: 0 10px;
      margin: 0 2px;
      vertical-align: middle;
      svg {
        vertical-align: middle;
        color: var(--pure-black);
      }
      &:first-child {
        margin-left: 0;
        // @media (min-width: 992px) {
        //   display: none;
        // }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .header-menu,
    .header-cart,
    .header-account {
      display: none;
      @media (min-width: 576px) {
        display: block;
      }
    }
    .header-currency-price-list {
      line-height: 24px;
    }
  }
}
/* header search */
.header {
  &-search-area-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    // padding-top: 16px;
    position: absolute;
    height: calc(100vh - 0px);
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateY(-4px);
    transition: all 0.6s ease-in-out;
    &.active {
      transform: translateY(-0px);
    }
    .header-search-area-containerWrapper {
      background-color: var(--pure-white);
      padding: 54px 2vw;
    }
    .header-search-area-container {
      text-align: center;
      @include content-block-max-center;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      .predictive-search {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        input {
          border-radius: var(--border-radius);
          padding-left: 40px;
          padding-right: 40px;
          width: calc(100% - 40px);
        }
        .input__search-icon {
          position: absolute;
          left: 8px;
        }
        .input__close-icon {
          cursor: pointer;
          position: absolute;
          right: 8px;
        }
      }
      #predictive-search{

        /* pre data */

        .predictive-content {
          li {
            display: block;
            text-align: left;
            margin: 8px 24px;
            a {
              display: block;
              text-align: left;
              padding-left: 8px;
              padding-right: 8px;
              padding-top: 4px;
              padding-bottom: 8px;
              border-bottom: 1px solid var(--border-color);
            }
            b {
              padding-left: 8px;
            }
            &:last-child {
              a {
                border-bottom: 0;
              }
            }
          }
        }
      }
      #predictive-search-results-list {
        padding: 8px;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
          padding: 16px;
          flex-direction: row;
          flex-wrap: wrap;
        }
        li {
          padding: 0px 8px 16px;
          @media (min-width: 768px) {
            width: 25%;
            padding: 0 14px;
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
          a {
            display: flex;
            @media (min-width: 768px) {
              display: block;
            }
            img {
              border-radius: 4px;
              flex: 0 0 30%;
              min-width: 30%;
              height: auto;
              @media (min-width: 768px) {
                height: auto;
                width: 100%;
              }
            }
            .predictive-search__item-content {
              text-align: left;
              line-height: 1.24;
              font-size: 14px;
              margin-bottom: 0;
              padding-left: 8px;
              flex: 1 0 70%;
              @media (min-width: 768px) {
                padding-left: 0px;
                padding-top: 8px;
                padding-bottom: 18px;
              }
            }
          }
          &:last-child {
            padding: 0px;
            flex: 1 0 auto;
            // margin: 0 18px;
            button {
              width: 100%;
              background: var(--primary-color);
              color: var(--pure-white);
              border-radius: 4px;
              padding: 12px 12px;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}
/* common footer */
.header {
  &-nav-list-footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: var(--pure-white);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    z-index: 2;
    > div {
      padding: 12px 8px;
      flex: 1 0 auto;
      text-align: center;
      a {
        color: initial;
      }
      span {
        display: block;
        padding-top: 4px;
      }
    }
    @media (min-width: 576px) {
      display: none;
    }
  }
}
/* header desktop menu */
.header {
  &-nav-list-main {
    @include content-block-max-center;
    --border-radius: 2px;
    margin: 0 auto;
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
    .menu-level-1 {
      text-align: center;
      .menu-level-1-item {
        display: inline-block;
        a {
          font-size: 13px;
          line-height: 14px;
          padding: 14px 8px;
          @media (min-width: 1100px) {
            padding: 14px 10px;
          }
          color: var(--pure-black);
          position: relative;
          &:after {
            content: none;
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--primary-color);
          }
        }
        &:first-child {
          display: none;
        }
        &:nth-last-child(2) {
          display: block;
          @media (min-width: 992px) {
            display: none;
          }
          @media (min-width: 1100px) {
            display: inline-block;
          }
        }
      }
    }
    .menu-level-2 {
      background-color: var(--pure-white);
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 100;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 100%;
      justify-content: center;
      grid-gap: 24px;
      visibility: hidden;
      padding: 20px 10px;
      display: grid;
      &.active {
        visibility: visible;
      }
      .menu-level-2-item {
        a {
          text-transform: uppercase;
          padding-left: 0;
          padding-right: 0;
          text-align: left;
          display: block;
          border-bottom: 1px solid var(--border-color);
        }
        &-image {
          a {
            padding: 0px;
          }
          img {
            border-radius: var(--border-radius);
          }
          .menu-image-title {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            font-weight: 400;
            padding: 22px 0px;
          }
          .menu-image-link-button {
            text-align: center;
            font-size: 14px;
            line-height: normal;
            border-radius: var(--border-radius);
            padding: 8px 12px;
            font-weight: 500;
            color: var(--primary-color);
            background-color: var(--pure-white);
            border: 1px solid var(--primary-color);
          }
        }
      }
    }
    .menu-level-3 {
      .menu-level-3-item {
        a {
          text-transform: initial;
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 5px;
          margin-top: 5px;
          padding-top: 0;
          padding-bottom: 0;
          font-size: 13px;
          line-height: 24px;
          font-weight: 400;
          word-wrap: break-word;
        }
        &:last-child a {
          border-bottom: 0;
        }
      }
    }
    .second-menu {
      background-color: var(--pure-white);
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      z-index: 5;
      visibility: hidden;
      position: absolute;
      display: none;
      border-top: 1px solid var(--border-color);
      &.active {
        visibility: visible;
        display: block;
      }
      .menu-level-2 {
        visibility: visible;
        max-width: var(--content-width);
        margin: 0 auto;
        position: relative;
      }
    }
    a[aria-current="page"],
    .menu-active,
    .menu-child-active,
    .active {
      opacity: 1 !important;
      // font-weight: 500 !important;
      // color: var(--primary-color) !important;
    }
  }
}

.menu-level-2[data-menu-title="saree"],
.menu-level-2[data-menu-title="readymades"] {
  grid-template-columns: repeat(6, 1fr);
}
.menu-level-2[data-menu-title="arthirshtam"] {
  grid-template-columns: repeat(8, 1fr);
}

.menu-level-2[data-menu-title="decor & accessories"] {
  grid-template-columns: repeat(5, 1fr);
}
.menu-level-2[data-menu-title="mumbai collection"] {
  grid-template-columns: repeat(3, 1fr);
}

/* header burger icon */
.header {
  .cd-nav-trigger {
    display: block;
    @media (min-width: 992px) {
      display: none;
    }
    cursor: pointer;
    svg {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: -8px;
        right: -12px;
        left: -12px;
        bottom: -8px;
        transform: translateZ(0);
      }
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
/* header mobile menu */
.header-mobile-navigation-list {
  display: none;
  &.active {
    display: block;
    position: fixed;
    top: 64px;
    left: 0px;
    z-index: 5;
    max-height: none;
    z-index: 9999999999;
    height: calc(100vh - 64px);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
      visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: none;
    touch-action: manipulation;
    // top: auto;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    .Drawer__Container {
      height: 100%;
      box-shadow: 2px 2px 4px #0000001a;
    }
  }
  .cd-primary-nav {
    display: block;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    background-color: var(--pure-white);
    width: 50vw;
    // overflow-y: scroll;
    height: 100%;
    overflow-y: auto;
    width: 49%;
    background: #fff;
    padding: 18px 18px;
    li {
      a {
        display: block;
        font-size: 13px;
        line-height: 24px;
        color: var(--pure-black);
        padding: 8px 0px;
        padding: 8px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color);
      }
      &:last-child a{
        border-bottom: 0;
      }
      ul {
        display: none;
        position: fixed;
        right: 0;
        width: 51%;
        background: #e4e4e4;
        top: 64px;
        bottom: 0;
        overflow-y: auto;
        padding: 15px 0;
        animation-delay: 0;
        animation-duration: 0.4s;
        animation-name: slideFromleft;
        animation-fill-mode: fowards;
        animation-direction: ease;
        li {
          a {
           padding: 8px;
           margin: 8px;
          }
        }
      }
      &.has-children {
        .active {
          display: block;
        }
      }
    }
  }
}

/* desktop menu special */
.header-nav-list-main .menu-level-2 {
  &[data-menu-title="arthirshtam"],
  &[data-menu-title="readymades"],
  &[data-menu-title="decor & accessories"],
  &[data-menu-title="mumbai collection"] {
    grid-gap: 16px;
    .menu-level-2-item > a {
      border-bottom: 0px;
      padding-bottom: 0px;
      padding-top: 0px;
      img {
        margin-bottom: 8px;
        border-radius: var(--border-radius);
      }
    }
  }
  &[data-menu-title="saree"] {
    .menu-level-2-item:nth-last-child(1),
    .menu-level-2-item:nth-last-child(2) {
      a {
        border-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        img {
          margin-bottom: 8px;
          border-radius: var(--border-radius);
        }
      }
    }
  }
}

/* menu and search active */
.header-menuActive,
.header-seachActive {
  overflow: hidden;
}

.large-12.columns img {
  width: 100%;
}
.large-12.columns img.desktopBanner {
  display: none;
}
.large-12.columns img.mobileBanner {
  display: block;
}
@media screen and (min-width: 641px) {
  .large-12.columns img.mobileBanner {
    display: none;
  }
  .large-12.columns img.desktopBanner {
    display: block;
  }
}

.large-12.columns {
  .owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: 2px solid var(--border-color);
  }

  .owl-theme .owl-dots .owl-dot.active span {
    border-color: var(--secondary-color);
    background: var(--secondary-color);
  }
}
