@import "reset";

@import "common/common";
@import "common/header";
@import "common/breadcrumbs";

@import "page/home";
@import "page/collection";
@import "page/product";
@import "section/filter";
@import "section/pagination";
@import "section/recommedations";
@import "common/quickview";
@import "common/drawer";
@import "common/modal-Image";
@import "page/cart";
@import "page/login";
@import "page/account";
@import "page/policy";
@import "page/faq";
@import "page/blog";
@import "page/about";
@import "page/404";
@import "page/contact";
@import "common/footer";

#shopify-chat iframe,
iframe#dummy-chat-button-iframe {
  bottom: 70px !important;
  @include z-index(chat_icon);
  &[isopen="true"] {
    bottom: 0px !important;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.radio_image:checked + .image_radio {
  border-width: 1px !important;
}

/*set a border on the images to prevent shifting*/
.zoomContainer{
  z-index: 1 !important;
}
#gallery_01 img,
.active img,
.zoomWindowContainer .zoomWindow{
  border: 0px !important;
}


.swym-button-bar.swym-wishlist-button-bar.swym-inject {
  background: transparent !important;
}

.swym-add-to-wishlist {
  background: transparent !important;
  color: var(--color-maroon) !important;
  border: 1px solid var(--color-maroon)  !important;
}

button.btn.swym-button.swym-add-to-wishlist.swym-inject.swym-has-fave-count.swym-icontext.swym-heart.swym-loaded {}

.swym-fave-count {
  display: none !important;
}

.swym-btn-container[data-position=default] .swym-add-to-wishlist.swym-icontext:after {
  color: var(--color-maroon) !important;
}
