.test--product-card--grid-three {
  margin: 0 4vw;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}
.test--product-card--grid-four {
  margin: 0 4vw;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

.product {
  &__card {
    &--img {
      a{
        display: block;
      }
      position: relative;
      z-index: 1;
      .product__card-cta {
        position: absolute;
        bottom: 0px;
        background: #282b2f;
        opacity: 0.8;
        width: 100%;
        z-index: 98;
        display: none;
        a {
          padding: 16px;
          display: block;
          color: var(--pure-white);
          text-align: center;
        }
      }
    }

    &:hover {
      div {
        display: block;
      }
    }
  }

  &__image {
    position: relative;
    &--wrapper {
      position: relative;
      img {
        width: 100%;
        border-radius: var(--border-radius);
      }
    }
  }

  &__status {
    position: absolute;
    top: 10px;
    left: 8px;
    &-soldout {
      font-size: 12px;
      line-height: 12px;
      font-weight: 400;
      background-color: #f00;
      border-radius: var(--border-radius);
      padding: 4px 8px;
      font-family: var(--font-montserrat);
    }
  }

  &__title {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    font-family: var(--font-playfair);
    color: var(--pure-black);
    font-feature-settings: "pnum" on, "lnum" on;
  }

  &__price-list {
    color: var(--black);
    margin-top: 8px;
    span {
      font-size: 14px;
      font-family: var(--font-montserrat);
    }
  }

  &__variant {
    &--list {
      margin-top: 8px;
      color: var(--black);
      &-name:not(:last-child) {
        margin-right: 8px;
      }
    }

    &--vendor,
    &--title,
    &--weight,
    &--price,
    &--sku,
    &--barcode {
      margin-top: 8px;
      color: var(--light-black);
      font-family: var(--font-montserrat);
    }
  }
}
