.customer-account {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto var(--home-section-space);
  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 248px;
    padding-right: 248px;
  }

  .customer-account-title {
    h2 {
      font-weight: 500;
      font-size: 28px;
      margin-bottom: 12px;
    }
    a {
      color: initial;
    }
    margin-bottom: 28px;
  }
  .customer-account-detail {
    display: grid;
    gap: var(--Ngap);
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    h2 {
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 18px;
    }
    .order-list {
      background-color: #fff;
      border-bottom: 1px solid #d5d9d9;
      margin-bottom: 24px;
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 16%);

      .order-list-header {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 18px;
        margin-bottom: 18px;
        display: flex;
        background-color: #f0f2f2;
        border-bottom: 1px solid #d5d9d9;
        .data-title {
          font-weight: 300;
        }
        .data-title,
        .data-value {
          display: block;
          margin-bottom: 8px;
        }
        .data-value {
          margin-bottom: 0;
        }
        &-data {
          display: flex;
          text-align: left;
          > div {
            padding-right: 24px;
          }
        }
      }

      .order-list-data {
        li {
          display: flex;
          padding-left: 18px;
          padding-right: 18px;
          padding-bottom: 8px;
          margin-bottom: 8px;
          .line-item-image {
            flex: 1 0 100px;
            max-width: 100px;
            width: 100px;
            height: 100px;
          }
          span:last-child {
            margin-left: 18px;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

.address-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  gap: var(--Ngap);
  margin: 0 auto var(--home-section-space);
  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 248px;
    padding-right: 248px;
  }
  address {
    background-color: #fff;
    border-bottom: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: 0 3px 6px #00000029;
    padding: 18px;
    flex: 1 0 100%;
    @media (min-width: 768px) {
      flex: 1 0 25%;
    }
    .address-delete-form {
      border-top: 1px solid var(--color-border);
      margin-top: 8px;
      padding-top: 8px;
    }
  }
}

.customer-account-address{
  display:  none;
}
