.page-cart {
  margin: 0 auto;
  max-width: 824px;
  padding-top: var(--home-section-space);
  padding-bottom: var(--home-section-space);
  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  .page__title {
    text-align: center;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0em;
    font-weight: 400;
    margin-bottom: 20px;

    margin-top: 20px;
    @media (min-width: 768px) {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .page__decription {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    margin-bottom: 20px;
  }
  .cart-empty {
  }

  .cart-content {
    .page__decription {
      background: rgba(253, 217, 51, 0.4);
      border-radius: 4px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 124%;
      color: #000000;
      padding: 16px;
      margin-bottom: 16px;
      li {
        margin-bottom: 4px;
        &:first-child {
          margin-bottom: 8px;
          font-weight: bold;
        }
      }
    }
    .cart_wrapper {
      padding-top: var(--home-section-space);
      .card__items-title {
        display: none;

        @media (min-width: 768px) {
          display: flex;
        }
        justify-content: space-between;
        border-bottom: 1px solid var(--color-border);
        margin-bottom: 30px;
        padding-bottom: 8px;
        font-size: 20px;
        line-height: 24px;
      }
    }
    .cart__items.cart_block {
      display: grid;
      gap: 12px;
      // overflow: hidden;

      .line-item {
        border-bottom: 1px solid var(--color-border);
        padding-bottom: 12px;
        display: flex;
        &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        .lin-item__image-wrapper {
          a {
            display: block;
            img {
              width: 100%;
              @media (max-width: 768px) {
                border-radius: 2px;
              }
            }
          }
          flex: 0 0 80px;
          max-width: 80px;
          min-width: 80px;
          @media (min-width: 768px) {
            flex: 0 0 120px;
            max-width: 120px;
            min-width: 120px;
          }
        }
        .line-item__details-wrapper {
          flex: 1 0 auto;
          display: flex;
          flex-direction: column;
          @media (min-width: 768px) {
            flex-direction: row;
          }
        }
        .line-item__details {
          padding: 0 12px;
          @media (min-width: 768px) {
            padding: 0 18px;
            flex: 1 0 440px;
            max-width: 440px;
          }
          .line-item__title {
            font-size: 14px;
            line-height: normal;
            margin-bottom: 4px;
            @media (min-width: 768px) {
              font-size: 16px;
              margin-bottom: 8px;
            }
          }
          .line-item__option-block {
            display: flex;
            font-size: 12px;
            @media (min-width: 768px) {
              font-size: 14px;
            }
          }
          .line-item__option {
            padding-right: 4px;
            font-size: inherit;
          }
          .line-item__value {
            font-size: inherit;
          }
        }
        .line-item__right {
          text-align: left;
          padding: 8px 12px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          align-items: flex-end;
          @media (min-width: 768px) {
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            text-align: right;
            flex: 1 0 120px;
            min-width: 120px;
          }
          .money {
            font-size: 14px;
            @media (min-width: 768px) {
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
            }
          }
          a {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-top: 2px;
            @media (min-width: 768px) {
              margin-top: 4px;
              font-size: 16px;
            }
            svg {
              width: 18px;
              height: 18px;
              // @media (min-width: 768px) {
              //   width: 24px;
              //   height: 24px;
              // }
            }
          }
        }
      }
    }

    .cart__details.card__block {
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) {
        gap: 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
      align-items: flex-end;
      border-top: 1px solid var(--color-border);
      margin-top: 30px;
      padding-top: 8px;

      .card_detail-note {
        width: 100%;
        @media (min-width: 768px) {
          max-width: 312px;
        }
        label,
        textarea {
          display: block;
          margin-bottom: 14px;
        }
        label {
          padding-bottom: 8px;
          margin-bottom: 0;
          font-size: 14px;
          line-height: normal;
        }
        textarea {
          padding: 10px;
          height: 92px;
          width: 100%;
          resize: none;
          @media (min-width: 768px) {
            margin-bottom: 0px;
          }
        }
      }
      .cart__action.card__block {
        width: 100%;

        @media (min-width: 768px) {
          width: auto;
        }
      }
      .cart__total,
      .cart__total-text {
        font-weight: bold;
        font-size: 18px;
        @media (min-width: 768px) {
          text-align: right;
        }
      }
      .page-cart-atbutton {
        margin-bottom: 20px;
        @media (min-width: 768px) {
          margin-bottom: 0px;
        }
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
        border-radius: var(--border-radius);
        transition: background-color 0.2s, border-color 0.2s, color 0.2s !important;
        color: #fff;
        padding: 14px 16px;
        overflow: hidden;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: var(--color-black);
        border: 1px solid;
        color: var(--color-white);
        background-color: var(--color-maroon);
        border-color: var(--color-maroon);
        width: 100%;
      }
    }
  }
}
