.collection-page-action-list {
  border-top: 1px solid #d4d5d9;
  border-bottom: 1px solid #d4d5d9;
  justify-content: space-around;
  padding: 12px 0px;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 28px;
  display: flex;
  display: none;
  @media (min-width: 768px) {
    display: none;
  }
  .collection-filter {
    flex: 1 0 auto;
  }
  .collection-action-sortyby {
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.25;
    select {
      cursor: pointer;
      padding: 12px 8px;
    }
  }
}

.collection-page-action-active {
  display: none;
}


.template-collection {
  .collection-page-header {
    padding-left: var(--Ngap);
    padding-right: var(--Ngap);
    @media (min-width: 1364px) {
      padding-left: 60px;
      padding-right: 60px;
    }
    margin-bottom: var(--Ngap);
    &-image {
      overflow: hidden;
      margin-bottom: 12px;
      height: 142px;
      @media (min-width: 768px) {
        margin-bottom: 28px;
        height: 280px;
      }
      img {
        width: auto;
        height: 142px;
        object-fit: cover;
        object-position: center;
        height: 142px;
        @media (min-width: 768px) {
          width: 100%;
          height: 280px;
        }
        object-fit: cover;
        object-position: center;
      }
    }
    p {
      font-family: var(--font-montserrat);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--pure-black);
      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 150%;
      }
    }
    .collection-page-title {
      padding-top: var(--Ngap);
      padding-bottom: var(--Ngap);
      font-family: "Playfair Display", serif;
      font-weight: 500;
      line-height: 1.2222222222;
      font-size: var(--home-section-title);
      color: var(--pure-black);
      text-align: center;
    }
  }
}

.collection-list-grid {
  display: grid;
  gap: var(--Ngap);
  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  &[collection-list-mobile="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $tablet) {
    &[collection-list-tablet="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    &[collection-list-tablet="2"] {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: $ptablet) {
    &[collection-list-desktop="3"],
    &[collection-list-desktop="4"] {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: $desktop) {
    &[collection-list-desktop="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    &[collection-list-desktop="4"] {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.shopify-section.section-random-product {
  section {
    padding-left: var(--Ngap);
    padding-right: var(--Ngap);
    @media (min-width: 1364px) {
      padding-left: 60px;
      padding-right: 60px;
    }
    padding-bottom: var(--home-section-space);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--home-section-space);
  }
  .collection-section--title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: var(--home-section-secondary-title-space);

    h3 {
      font-family: "Playfair Display", serif;
      font-weight: 500;
      line-height: 1.2222222222;
      font-size: var(--home-section-title);
    }
    a {
      font-family: var(--font-montserrat);
      line-height: 22px;
      font-size: var(--home-section-secondary-title);
      text-align: right;
    }
  }
  .collection-list-grid {
    padding-left: 0;
    padding-right: 0;
  }
}
