.collection-page-action-active {
  display: none;
}

.template-collection {
  .collection-page-header {
    padding-left: var(--Ngap);
    padding-right: var(--Ngap);
    @media (min-width: 1364px) {
      padding-left: 60px;
      padding-right: 60px;
    }
    margin-bottom: var(--Ngap);
    &-image {
      overflow: hidden;
    }
  }
}

.collection-page-title {
  padding-top: var(--Ngap);
  padding-bottom: var(--Ngap);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 1.2222222222;
  font-size: var(--home-section-title);
  color: var(--color-black);
  text-align: center;
}

/* new image */
.collection-page-header-image {
  &.d-block {
    display: grid !important;
  }
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  .collection-page-image {
    img {
      width: 100%;
      object-fit: cover;
      height: 130px;
      @media (min-width: 768px) {
        height: 180px;
      }
      @media (min-width: 1920px) {
        height: 440px;
      }
    }
  }

  .collection-page-content-area {
    .collection-page-title {
      padding-top: var(--Ngap);
      padding-bottom: 8px;
      font-family: "Playfair Display", serif;
      font-weight: 500;
      line-height: 1.2222222222;
      font-size: var(--home-section-title);
      color: var(--color-black);
      text-align: center;
    }

    .collection-page-description {
      font-family: var(--font-montserrat);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-black);
      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}
/* new image end*/
.collection-sub-list {
  display: flex;
  justify-content: flex-start;
  margin-right: 40px;
  margin-bottom: 40px;
  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  li {
    display: inline-block;
    a {
      display: inline-block;
      flex: 1 0 auto;
      font-size: 12px;
      background: var(--color-secondary);
      margin-right: 4px;
      padding: 6px 6px;
      border-radius: 20px;
    }
  }
}

.collection-list-grid {
  display: grid;
  gap: var(--Ngap);
  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  &[collection-list-mobile="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $tablet) {
    &[collection-list-tablet="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    &[collection-list-tablet="2"] {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: $ptablet) {
    &[collection-list-desktop="3"],
    &[collection-list-desktop="4"] {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: $desktop) {
    &[collection-list-desktop="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    &[collection-list-desktop="4"] {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.shopify-section.section-random-product {
  section {
    padding-left: var(--Ngap);
    padding-right: var(--Ngap);
    @media (min-width: 1364px) {
      padding-left: 60px;
      padding-right: 60px;
    }
    padding-bottom: var(--home-section-space);
    border-bottom: 1px solid var(--color-border);
    margin-bottom: var(--home-section-space);
  }
  .collection-section--title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: var(--home-section-secondary-title-space);

    h3 {
      font-family: "Playfair Display", serif;
      font-weight: 500;
      line-height: 1.2222222222;
      font-size: var(--home-section-title);
    }
    a {
      font-family: var(--font-montserrat);
      line-height: 22px;
      font-size: var(--home-section-secondary-title);
      text-align: right;
    }
  }
  .collection-list-grid {
    padding-left: 0;
    padding-right: 0;
  }
}

h1.title.title--primary {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 1.2222222222;
  font-size: var(--home-section-title);
  padding-top: var(--home-section-secondary-title-space);
  padding-bottom: var(--home-section-secondary-title-space);
  text-align: center;
}

ul.collection-list.grid {
  display: grid;
  gap: var(--Ngap);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  li {
    padding-bottom: var(--home-section-secondary-title-space);
  }
  .card {
    position: relative;
    a {
      display: block;
      img {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &__content {
      // position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color-white);
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
    &__heading {
      padding: 8px;
      font-family: var(--font-montserrat);
      line-height: 22px;
      font-size: var(--home-section-secondary-title);
      text-align: center;
    }
  }
}
