.template-index {
  .homepage-section {
    padding-bottom: 48px;

    .section-header {
      margin-bottom: 32px;
      .section-header-title {
        font-family: var(--font-playfair);
        font-style: normal;
        font-weight: 500;
        color: #000000;
        font-size: 24px;
        line-height: 30px;
        @media (min-width: 768px) {
          font-size: 28px;
          line-height: 38px;
        }
      }
      .section-header-content {
        font-family: var(--font-montserrat);
        font-style: normal;
        font-weight: 400;
        color: var(--pure-black);
        margin-top: 8px;
margin-left: 18px;
margin-right: 18px;
        font-size: 14px;
        line-height: 18px;
        @media (min-width: 768px) {
          margin-left: 0;
          margin-right: 0;
          font-size: 16px;
          line-height: 20px;
        }
      }
      .section-header-action_link {
        margin-top: 30px;
      }
    }

    @import "../section/home/banner";
    @import "../section/home/curated";
    @import "../section/home/spotlight";
    @import "../section/home/readymade";
    @import "../section/home/collaboration";
    @import "../section/home/justdropped";
    @import "../section/home/blog-feed";
    @import "../section/home/instagram-feed";
    @import "../section/home/need-asset";
  }
}
