// Footer
body.template-index {
  .header-nav-list-footer {
    > div span {
      font-weight: 400;
      font-family: var(--font-montserrat);
      color: #000;
      font-size: 14px;
    }
    > div.header-currency-price-list {
      padding-top: 3px;
    }
    > div.header-price {
      svg {
        width: 24px;
        height: 24px;
      }
      a {
        position: static !important;
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-family: var(--font-montserrat);
        color: #000;
        font-size: 14px;
        select#currencies,
        select#currencies1 {
          font-weight: 400;
          font-family: var(--font-montserrat);
          color: #000;
          font-size: 14px;
          font-weight: 400;
          color: initial !important;
          padding: 0;
          text-align: center;
        }
      }
    }
  }
}

body:not(.template-index) {
  .header-nav-list-footer {
    display: none;
  }
}

// product card
.product__card {
  overflow: hidden;

  // image
  &--img,
  &--link {
    display: block;
    position: relative;
    overflow: hidden;
    &.lazyload {
      opacity: 0;
    }
  }
  &--image--wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      width: 100%;
    }
  }

  //status
  &--status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    background: red;
    margin: 4px;
    border-radius: 2px;
    font-size: 12px;
    line-height: normal;
    display: none;
  }

  // cta
  &-cta {
    display: none;
    position: absolute;
    bottom: -60px;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    a {
      text-align: center;
      padding: 14px 0px;
      display: block;
    }
  }

  // content
  &--content {
    .product__title {
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      line-height: 24px;
      padding-top: 4px;
      @media (min-width: 768px) {
        padding-top: 8px;
        font-size: 16px;
      }
    }
    .product__variant--price {
      line-height: 24px;
      font-size: 13px;
      @media (min-width: 768px) {
        font-size: 14px;
      }
    }
    .product__variant--list {
      font-family: "Montserrat", "sans-serif";
      display: inline;
      color: #191919;
      line-height: 25px;
      .product__variant--list-name {
        font-family: "Montserrat", "sans-serif";
        display: inline;
        padding: 0px;
        color: #191919;
        line-height: 25px;
        &:not(:last-child) {
          &:after {
            content: ",";
            display: inline-block;
          }
        }
        s {
          text-decoration: line-through;
          color: #b3b3b3;
        }
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      .product__card-cta.quick-view-button {
        bottom: 0;
      }
    }
  }
}

.display-card-grid {
  display: grid;
  gap: var(--Ngap);
}

[data-mobile-count="2"] {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $tablet) {
  [data-tablet-count="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $ptablet) {
  [data-laptop-count="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $desktop) {
  [data-desktop-count="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  [data-desktop-count="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  [data-desktop-count="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: $ldesktop) {
  [data-ldesktop-count="6"] {
    grid-template-columns: repeat(6, 1fr);
  }
}

.homepage-section {
  padding-bottom: var(--home-section-space);
  padding-left: var(--Ngap);
  padding-right: var(--Ngap);
  @media (min-width: 1364px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.homepageBanner {
  padding-left: 0;
  padding-right: 0;

  .large-12.columns {
    margin: 0 auto !important;
    img {
      border-radius: 0;
      width: 100%;
      &.mobileBanner {
        display: block;
        @media (min-width: 641px) {
          display: none;
        }
      }
      &.desktopBanner {
        display: none;
        @media (min-width: 641px) {
          display: block;
        }
        object-fit: cover;
        object-position: top center;
        // aspect-ratio: 1457/455;
      }
    }
    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }
    .slick-dots {
      bottom: 10px;
      li {
        @media (max-width: 768px) {
          margin: 0;
        }
        button:before {
          width: 24px;
          height: 24px;
          opacity: 1;
        }
      }
      li.slick-active {
        button:before {
          color: var(--color-secondary);
          opacity: 1;
        }
      }
    }
  }
}

// title
.section-header-title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 1.2222222222;
  font-size: var(--home-section-title);
  @media (min-width: 768px) {
    margin-bottom: 8px;
  }
}

.section-header-action_link,
.section-header-content {
  font-family: var(--font-montserrat);
  line-height: 1.6;
  line-height: 22px;
  padding-bottom: 12px;
  font-size: var(--home-section-secondary-title);
  padding-bottom: var(--home-section-secondary-title-space);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 768px) {
    max-width: initial;
  }
}

.section-header-action_link {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}

// curated collection
.collection-saree,
.collection-readymade {
  display: grid;
  gap: var(--Ngap);
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
  .collection-item,
  .collection-item-link {
    display: block;
    position: relative;
  }
  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;

    @media (min-width: 992px) {
      aspect-ratio: auto;
    }
  }
  .collection-item-name {
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background: linear-gradient(
      180deg,
      rgba(15, 15, 15, 0.4),
      rgba(15, 15, 15, 0.8)
    );
    color: #fff;
    padding: 12px 8px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    .collection-item-title {
      font-family: "Playfair Display";
      font-style: normal;
      font-size: 14px;
      @media (min-width: 768px) {
        font-size: 18px;
      }
      @media (min-width: 1364px) {
        font-size: 20px;
      }
      line-height: normal;
      text-align: center;
      color: #ffffff;
      margin-bottom: 4px;
    }
    .collection-title-subtitle {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: normal;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
    }
  }
}

.collection-readymade {
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

// shopthelook
.lookbook-product-section {
  // max-width: var(--largewidth);
  margin: 0 auto;

  .small-image-products,
  .large-image-products {
    // background-color: rgba($color: #000000, $alpha: 0.1);
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;

    img {
      width: 100%;
    }
    .dot {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      // animation: ripple 2s linear infinite;

      &.active {
        cursor: pointer;
      }
    }
  }

  $ripple-color: #fff;

  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0rem rgba($ripple-color, 0.2),
        0 0 0 1rem rgba($ripple-color, 0.2), 0 0 0 2rem rgba($ripple-color, 0.2);
    }
    100% {
      box-shadow: 0 0 0 1rem rgba($ripple-color, 0.2),
        0 0 0 2rem rgba($ripple-color, 0.2), 0 0 0 5rem rgba($ripple-color, 0.2);
    }
  }

  .small-image-products {
    display: block;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .large-image-products {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
}

// spotlight
.spot-light {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .section-header-wrapper {
    flex: 1 0 auto;
    .section-header {
      text-align: center;
    }
    @media (min-width: $ptablet) {
      flex: 1 0 420px;
      .section-header {
        text-align: left;
      }
    }
    @media (min-width: 768px) {
      padding-right: var(--Ngap);
      .section-header {
        text-align: left;
      }
    }
  }

  .product-grid-list-three {
    .product__card {
      display: none;
    }
    .product__card:nth-child(1),
    .product__card:nth-child(2),
    .product__card:nth-child(3),
    .product__card:nth-child(4),
    .product__card:nth-child(5),
    .product__card:nth-child(6) {
      display: block;
    }
    @media (min-width: 1200px) {
      .product__card {
        display: block;
      }
    }
    + a {
      border: 1px solid var(--color-primary);
      padding: 12px 16px;
      text-align: center;
      display: block;
      margin: 8px auto;
      max-width: 288px;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

// silver
.home-page-silver-section {
  margin-left: var(--Mgap);
  margin-right: var(--Mgap);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: rgba($color: #000000, $alpha: 0.4);
  background-image: url(https://cdn.shopify.com/s/files/1/0560/3695/0174/files/collection-pattern-bg.png?v=1665427144);
  background-repeat: repeat;
  position: relative;
  border-top: 4px solid #dbae40;
  padding-top: 24px;
  padding-bottom: 24px;
  @media (min-width: 768px) {
    border-top: 8px solid #dbae40;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    width: 84px;
    height: 84px;
    background: url("https://cdn.shopify.com/s/files/1/0560/3695/0174/files/collection-frame.png");
    position: absolute;
    top: 0px;
    @media (max-width: 768px) {
      background-size: 54px;
      background-repeat: no-repeat;
    }
  }

  &::after {
    left: 0;
  }
  &::before {
    right: 0;
    transform: rotate(90deg);
  }
  .section-content {
    overflow: hidden;
    overflow-x: scroll;
    padding-top: 12px;
    @media (min-width: 1120px) {
      overflow: hidden;
      padding-top: 24px;
    }
  }
  nav {
    display: flex;
    gap: var(--Ngap);
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));

    @media (min-width: 768px) {
      gap: var(--Ngap);
    }
    @media (min-width: 1120px) {
      gap: var(--Ngap);
      justify-content: center;
    }
    a {
      flex: 1 0 33.3333%;
      flex: 1 0 auto;
      border-radius: 50%;
      display: inline-block;
      @media (min-width: 768px) {
        flex: 1 0 auto;
        gap: 24px;
      }
      @media (min-width: 1200px) {
        flex: 0 0 auto;
        gap: 24px;
        position: relative;
      }
      img {
        border-radius: 50%;
      }
      .section-Name {
        display: none;
        @media (min-width: 1200px) {
          display: block;
          opacity: 0;
          height: 0;
        }
      }

      &:hover {
        @media (min-width: 1200px) {
          .section-Name {
            opacity: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            width: 168px;
            height: 168px;
            font-size: 20px;
          }
        }
      }
    }

    a:first-child {
      padding-left: var(--Ngap);
    }
    a:last-child {
      padding-right: var(--Ngap);
    }

    @media (min-width: 1120px) {
      a:first-child {
        padding-left: 0;
      }
      a:last-child {
        padding-right: 0;
      }
    }
  }
}

// justdrop
.homepage-justdropped {
  overflow-x: hidden;
  .section-header-wrapper {
    .section-header {
      text-align: center;
    }
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: var(--home-section-secondary-title-space);
      .section-header {
        text-align: left;
        margin-bottom: 0 !important;
      }
      .section-header-content {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
  .tab-buttton {
    overflow-x: scroll;
    display: inline-flex;
    gap: 8px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    @media (min-width: 768px) {
      margin: 0;
      width: auto;
    }
    .tab {
      cursor: pointer;
      flex: 0 0 auto;
      @media (min-width: 768px) {
        flex: 1 0 auto;
      }
      border: 1px solid #f3ece8;
      background-color: #f3ece8;
      font-size: 16px;
      line-height: 1.5;
      padding: 4px 12px;
      border-radius: 40px;
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.8);
      &.active {
        border-color: rgb(245, 130, 32);
        background-color: rgb(245, 130, 32);
        color: var(--color-black);
      }
    }
  }
  .justdropped-box {
    display: none;
    &.active {
      display: block;
    }
  }
}

// blogfeed
.homepage-blogfeed {
  .blog-feed-container {
    display: grid;
    gap: var(--Ngap);
    overflow-x: scroll;
    grid-template-columns: repeat(4, 208px);

    @media (min-width: 768px) {
      overflow: hidden;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(auto-fit, minmax(218px, 1fr));
    }

    .blog-feed-card-link {
      width: 100%;
    }
    .blog-feed-card-image {
      width: 100%;
    }
    .blog-feed-card-title {
      font-family: var(--font-playfair);
      font-size: 22px;
      line-height: 1.5;
      padding-top: 4px;
      height: 38px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      @media (min-width: 768px) {
        height: 46px;
        padding-top: 8px;
      }
    }
    .blog-feed-card-content {
      font-family: var(--font-montserrat);
      font-size: 14px;
      line-height: 1.5;
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
    .blog-feed-card-cta {
      padding-top: 6px;
      text-decoration: underline;
      font-family: var(--font-montserrat);
      font-size: 14px;
      line-height: 1.5;
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
}

// store idea
.virtualshopping {
  margin-left: var(--Mgap);
  margin-right: var(--Mgap);
  a {
    padding: var(--gap);
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      --gap: 30px;
      padding: 0;
      padding-top: 48px;
      padding-bottom: 48px;
      flex-direction: row;
    }

    @media (min-width: 992px) {
      --gap: 60px;
    }
    @media (min-width: 1200px) {
      --gap: 120px;
    }
  }
  .image-area {
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    img {
      margin-left: 8px;
    }
    @media (min-width: 768px) {
      margin: 0;
      text-align: left;
      img {
        margin-left: 0;
        max-height: 600px;
      }
    }
  }
  .content-area {
    --gap: 24px;
    flex-direction: column;
    gap: var(--gap);
    max-width: 80%;
    justify-content: center;
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
      justify-content: flex-start;
      max-width: 560px;
    }
  }
  .content-area h3 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    line-height: 1.2222222222;
    font-size: var(--home-section-title);
    color: var(--color-black);
    @media (min-width: 768px) {
      margin-bottom: 8px;
      text-align: left;
    }
  }
  .content-area p {
    font-family: var(--font-montserrat);
    line-height: 1.6;
    line-height: 22px;
    font-size: var(--home-section-secondary-title);
    padding-bottom: var(--home-section-secondary-title-space);
    color: var(--color-black);
    @media (min-width: 768px) {
      max-width: initial;
      text-align: left;
    }
  }

  .content-area span {
    padding: 12px 16px;
    border: 1px solid var(--color-black);
    border-radius: var(--border-radius);
    color: var(--color-black);
    display: inline-block;
  }
}

// instagram
.instagram-feed {
  .section-content {
    margin-left: auto;
    margin-right: auto;
  }
  .instagram__post--wrapper {
    display: grid;
    gap: var(--Ngap);
    grid-template-columns: repeat(6, 208px);
    overflow-x: scroll;

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      overflow: hidden;
      .instagram__post--image:nth-last-child(1),
      .instagram__post--image:nth-last-child(2) {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
      .instagram__post--image:nth-last-child(1),
      .instagram__post--image:nth-last-child(2) {
        display: block;
      }
    }

    .instagram__post--image {
      a {
        display: block;
        img {
          @media (min-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.loader {
  width: 24px;
  height: 24px;
}
svg.icon {
  width: 24px;
  height: 24px;
}

.loading-overlay__spinner {
  width: 24px;
  height: 24px;
}

.test--product-card--grid-four {
  .slick-dots li.slick-active button:before{
    color: var(--color-maroon);
  }
  .slick-prev, .slick-next{
    z-index: 8;
  }
  .slick-prev:before,
  .slick-next:before {
    color: var(--color-maroon);
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .last-card.product__card.product__card--explore {
    .product__card--content {
      font-size: 14px;
      @media (min-width: 768px) {
        font-size: 20px;
      }
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
  }
  .product__card {
    padding-right: var(--Ngap);
  }
}
