.customer-login {
  @include content-block-max-center;
  display: flex;
  margin-bottom: 48px;
  .customer-login-content {
    margin-right: 24px;
    max-width: 320px;
  }
  .customer-login-image {
    width: 100%;
    margin-left: 24px;
    img{
      width: 100%;
    }
  }
  .page-title {
    margin-bottom: 24px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: var(--pure-black);
  }
  .page-description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--pure-black);
    margin-bottom: 24px;
  }
}
