.page-customer-register,
.page-customer-login {
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--home-section-secondary-title-space);
  padding-right: 24px !important;
  padding-left: 24px !important;
  
  margin-bottom: calc(var(--home-section-secondary-title-space) * 2);
  padding-bottom: var(--home-section-secondary-title-space);

  @media (min-width: 768px) {
    padding-right: 32px !important;
    padding-left: 32px !important;
  }

  .page-title {
    font-family: var(--font-playfair);
    --home-section-title: 32px;
    font-size: var(--home-section-title);
    line-height: normal;
    color: var(--color-black);
    // text-align: center;
    padding-top: var(--home-section-secondary-title-space);
    padding-bottom: var(--home-section-secondary-title-space);
  }

  form {

    label {
      font-size: 14px;
      display: block;
      padding-bottom: 8px;
    }

    a {
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--color-maroon);
      }
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="date"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: rgb(var(--color-white));
      color: rgb(var(--color-black));
      font-size: 16px;
      width: 100%;
      box-sizing: border-box;
      transition: box-shadow var(--duration-short) ease;
      border-radius: var(--border-radius);
      height: 46px;
      position: relative;
      border: 1px solid var(--color-black);
      margin-bottom: 20px;
      padding: 14px;
    }

    input[type="radio"],
    input[type="checkbox"] {
      cursor: pointer;
      -webkit-appearance: initial !important;
      vertical-align: baseline !important;
      padding: 0 !important;
      margin: 0 !important;
      min-height: initial !important;
      border: 1px solid var(--color-maroon) !important;
      background: transparent !important;
      display: inline-block !important;
      border-radius: 24px !important;
      width: 24px !important;
      height: 24px !important;
      margin-right: 8px !important;

      &:checked {
        transform: scale(0.9);
        outline: 2px solid var(--color-maroon) !important;
        border: 2px solid var(--color-white) !important;
        background: var(--color-maroon) !important;
      }
    }

    .accepts-marketing {
      display: flex;
      cursor: pointer;
    }

    .button,
    button[type="submit"],
    input[type="submit"] {
      background-color: var(--color-maroon);
      color: var(--color-white);
      display: block;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .form__message {
    svg {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }

    display: flex;
    margin-bottom: 20px;

  }
}

#recover,
#recover+div {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target+div {
  display: block;
}

#recover:target~#login,
#recover:target~#login+div {
  display: none;
}


#recover {
  margin-bottom: 0;
}
