.page-product-detail {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 32px 4vw;
  @media (min-width: 768px) {
    flex-direction: row;
    padding: 0;
    margin: 40px auto;
  }
  max-width: var(--content-width);
  .product {
    &-images {
      display: flex;
      flex-direction: column-reverse;
      @media (min-width: 768px) {
        flex-direction: row;
        flex: 1 0 60%;
        max-width: 60%;
      }
      .product-images-thumbnails {
        @media (min-width: 768px) {
          margin-right: 24px;
        }
        li {
          margin-top: 8px;
          margin-right: 8px;
          margin-bottom: 8px;
          @media (min-width: 768px) {
            margin-top: 0px;
            margin-right: 0px;
          }
          img {
            width: 80px;
            height: 80px;
            @media (min-width: 768px) {
              width: auto;
              height: auto;
            }
            border-radius: var(--border-radius);
          }
        }
      }
    }
    &-content {
      padding: 32px 4vw;
      @media (min-width: 768px) {
        flex: 1 0 40%;
        max-width: 40%;
        padding: 0 0 0 32px;
        padding-left: 32px;
      }
    }
    &-title {
      // margin-top: 18px;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 120%;
      font-size: var(--font-h3);
      &-secondary {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        font-size: var(--font-h5);
        margin-bottom: 12px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.85);
      }
    }
    &-sku span {
      display: block;
      margin-top: 0;
      margin-bottom: 12px;
      color: rgba(0, 0, 0, 0.6);
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      font-size: var(--font-12);
      line-height: 150%;
    }
    &-price {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      font-size: var(--font-h4);
      margin-bottom: 18px;
    }
    &-notice-content {
      display: none;
      background: rgba(253, 217, 51, 0.4);
      border-radius: 4px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 124%;
      color: #000000;
      padding: 16px;
    }
    &-add-to-cart-button {
      width: 100%;
      margin: 18px 0;
      color: var(--pure-white);
      position: relative;
      display: inline-block;
      padding: 14px 28px;
      line-height: normal;
      border: 1px solid var(--primary-color);
      border-radius: var(--border-radius);
      text-transform: uppercase;
      font-size: 16px;
      text-align: center;
      letter-spacing: 2px;
      font-family: var(--font-playfair);
      font-weight: 500;
      font-style: normal;
      background-color: var(--primary-color);
      transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
        border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      z-index: 1;
      -webkit-tap-highlight-color: initial;
    }
    &-description {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 18px;
    }
    &-size-free {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1d5d31;
      opacity: 0.7;
      border-radius: 50px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
    }
    &-detail {
      // display: grid;
      // gap: 16px;
      // grid-template-columns: 1fr 1fr;
      dl {
        display: inline-block;
        margin-bottom: 16px;
        width: calc(50% - 16px);
        padding-right: 8px;
        padding-left: 8px;
      }
      dt {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: rgba(0, 0, 0, 0.6);
      }
      dd {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.85);
        border-bottom: 1px solid #c3c2c9;
        padding-bottom: 8px;
      }
    }
    &-common-note {
      dl {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--border-color);
        &:last-child {
          border-bottom: 0;
        }
      }
      dt {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        font-size: var(--font-h5);
        margin-bottom: 12px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.86);
      }
      dd {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.74);
      }
    }
  }
}

.head-room {
  padding-top: 4vw;
}

section.grid.head-room {
  padding-bottom: 4vw;
}

.section-header__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}
.secton-header__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}
