@import "../common/interpolate";

:root {
  --color-bg-rahasya: #080707;
  --color-bg-white: #fff;
  --color-bg-black: #000;
}

body.template-page.rahasya {
  background: var(--color-bg-rahasya);

  .header-container,
  .header-action-list,
  .header-nav-list-main .menu-level-2,
  .header-mobile-navigation-list .cd-primary-nav,
  .header-mobile-navigation-list .cd-primary-nav li ul,
  .header-search-area-wrapper .header-search-area-containerWrapper,
  .header-search-area-wrapper .header-search-area-container .predictive-search input,
  footer .footer-copyright,
  footer {
    background: var(--color-bg-rahasya);
  }
  .header-action-list-icon .header-currency-price-list a.pick_currency.mldesk{
    background: var(--color-bg-rahasya) !important;
  }
  .header-nav-list-main .second-menu {
    background-color: transparent;
  }
  .header-action-list,
  .header-mobile-navigation-list .cd-primary-nav li a,
  .header-search-area-wrapper .header-search-area-container,
  .header-search-area-wrapper .header-search-area-container .predictive-search,
  .header-search-area-wrapper .header-search-area-container #predictive-search .predictive-content li a,
  .header-search-area-wrapper .header-search-area-container .predictive-search input,
  footer .footer-dataaction .subscription-from form input[type="email"],
  footer .footer-copyright {
    border-color: var(--color-bg-white);
  }
  .header-action-list-icon .header-currency-price-list a.pick_currency.mldesk .nice-select .list{
    background: var(--color-bg-rahasya) !important;
    border-color: var(--color-bg-rahasya) !important;
    color: var(--color-bg-white) !important;
  }
  .header-action-list-icon div[class^="header"] svg,
  .header-action-list,
  .header-nav-list-main .menu-level-1 .menu-level-1-item a,
  .header-nav-list-main .menu-level-2 a,
  .header-mobile-navigation-list .cd-primary-nav li a,
  .header-search-area-wrapper .header-search-area-container,
  .header-search-area-wrapper .header-search-area-container .predictive-search input,
  footer .footer-main p,
  footer .footer-care li,
  footer .footer-main .menu-link a,
  footer .footer-dataaction .subscription-from form label span.title,
  footer .footer-dataaction .subscription-from form label span.content,
  footer .footer-dataaction .subscription-from form input[type="email"],
  footer .footer-inbound-link > h2.footer-inbound-link__title,
  footer .footer-inbound-link__lists a,
  footer .footer-copyright,
  footer .footer-copyright a {
    color: var(--color-bg-white);
  }

  .header-nav-list-main.menu-level-1-item.kanchipuram.second-menu.menu-level-2a:hover,
  .header-nav-list-main.menu-level-1-item.mumbai-collection.second-menu.menu-level-2a:hover,
  .header-nav-list-main.menu-level-1-item.decor-accessories.second-menu.menu-level-2a:hover,
  .header-nav-list-main.menu-level-1-item.athirshtam.second-menu.menu-level-2a:hover {
    color: var(--color-bg-black);
  }

  .header-nav-list-main .menu-level-3 .menu-level-3-item a:hover {
    color: var(--color-bg-black);
  }
  .nice-select .option:hover{
    color: var(--color-bg-black) !important;
  }

  .breadcrumbs {
    display: none;
  }

  .section-rahasaya {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    @include interpolate("padding-top", 420px, 40px, 1024px, 104px, "ease-in");
    @include interpolate(
      "padding-bottom",
      420px,
      40px,
      1024px,
      104px,
      "ease-in"
    );
    padding-left: 16px;
    padding-right: 16px;

    br {
      display: none;

      @media (min-width: 992px) {
        display: inline-block;
      }
    }
  }
  strong,
  .fw\:500 {
    font-weight: 500;
    font-weight: bold;
  }

  .fs\:italic {
    font-style: italic;
  }

  .image-center {
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .text-title {
    line-height: 1.3;
    font-size: 22px;
    @media (min-width: 1024px) {
      line-height: 1.6;
      font-size: 30px;
    }
    color: #dbcfa9;
    font-family: var(--font-playfair);
    text-align: center;
  }

  .text-subpara {
    font-size: 17px;
    line-height: 1.6;
    color: #dbcfa9;
    font-family: var(--font-montserrat);
    text-align: center;
  }

  .rahasya-logo {
    max-width: 240px;
    margin-top: 20px;
    margin-bottom: 20px;

    @media (min-width: 992px) {
      max-width: 280px;
      margin-top: 34px;
      margin-bottom: 46px;
    }
  }

  .latest-innovation {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 992px) {
      max-width: initial;
    }

    h3 {
      margin-bottom: 22px;
      @media (min-width: 992px) {
        margin-bottom: 32px;
      }
    }

    p {
      margin-bottom: 22px;
      @media (min-width: 992px) {
        margin-bottom: 76px;
      }
    }
  }

  .rahasya-image-wrapper {
    position: relative;
    z-index: 1;

    .design-cant-find {
      z-index: 3;
      position: relative;
      @media (min-width: 992px) {
        position: absolute;
        top: 202px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
      h3 {
        margin-top: 22px;
        @media (min-width: 992px) {
          margin-top: 0;
        }
      }
      p {
        margin-top: 18px;
        @media (min-width: 992px) {
          margin-top: 32px;
        }
      }
    }

    .we-invite {
      z-index: 3;
      position: relative;

      @media (min-width: 992px) {
        position: absolute;
        bottom: 62px;
        // bottom: 220px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      h3 {
        color: #dbcfa9;
        font-family: var(--font-montserrat);
        font-size: 22px;
        line-height: 1.3;
        margin-top: 22px;
        @media (min-width: 1024px) {
          margin-top: 0;
          font-size: 19px;
          line-height: 1.6;
        }
      }

      p {
        color: #dbcfa9;
        font-family: var(--font-montserrat);
        margin-top: 14px;
        font-size: 14px;
        @media (min-width: 968px) {
          margin-top: 42px;
          font-size: 19px;
        }
      }

      img {
        max-width: 138px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14px;
        margin-bottom: 14px;

        @media (min-width: 968px) {
          margin-top: 32px;
          margin-bottom: 32px;
        }
      }

      .treat-yourself {
        font-family: var(--font-playfair);
        text-align: center;
        margin-top: 0;
        font-size: 22px;
        @media (min-width: 968px) {
          font-size: 26px;
        }
      }
    }

    &:after {
      z-index: 2;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: url("https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundarisilks-rahasya-frames_2x_31968f87-740d-43ef-91c3-95b94eeca0fd.png?v=1680846143")
        no-repeat top center;
      background-size: contain;
    }
  }
}
