.template-page .breadcrumbs {
  display: none;
}
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&display=swap");
@import "../common/interpolate";
.page-sale {
  --font-spe: "Frank Ruhl Libre", serif;
  .shopify-section {
    padding-top: 30px;
    @media (min-width: 768px) {
      padding-top: 60px;
    }
    padding-bottom: 0;
    &.noleftright {
      padding-left: 0;
      padding-right: 0;
    }
  }
  img {
    border-radius: 0 !important;
  }
  .section-banner {
    overflow: hidden;
  }
  .banner-sale-unit-mobile {
    overflow: hidden;
    position: relative;
    background-image: url("https://cdn.shopify.com/s/files/1/0490/1158/9282/files/online-sale-banner-mobile.png?v=1678678079");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    @media (min-width: 768px) {
      background-image: url("https://cdn.shopify.com/s/files/1/0490/1158/9282/files/online-sale-banner-desktop.png?v=1678719291");
    }
    &-content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 40px 30px;
      @media (min-width: 576px) {
        padding: 90px 30px;
      }
      @media (min-width: 768px) {
        padding: 30px;
      }
      @media (min-width: 992px) {
        padding: 20px;
      }
      img {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
      .banner-sale {
        &-title {
          font-weight: 600;
          font-size: 22px;
          @include interpolate(
            "font-size",
            420px,
            32px,
            1200px,
            67px,
            "ease-in"
          );

          max-width: 300px;
          text-align: center;
          margin: 0 auto;

          @media (min-width: 768px) {
            max-width: initial;
          }
          // @media (min-width: 992px) {
          //   font-size: 67px;
          // }
          line-height: 1.4;
          color: #475619;
          font-family: "Playfair Display", serif;
          text-align: center;
        }
        &-upto {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #5b3524;
          font-family: var(--font-spe);
          text-align: center;
          @include interpolate(
            "font-size",
            420px,
            20px,
            1200px,
            38px,
            "ease-in"
          );
          font-size: 20px;
          // @media (min-width: 992px) {
          //   font-size: 50px;
          // }
          span {
            padding: 0px 4px;
            font-weight: 500;
            color: #3d5110;
            font-family: var(--font-spe);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            // @media (min-width: 992px) {
            //   font-size: 58px;
            // }
            @include interpolate(
              "font-size",
              420px,
              24px,
              1200px,
              58px,
              "ease-in"
            );
          }
        }
        &-date {
          font-size: 14px;
          line-height: normal;
          color: #5b3220;
          font-weight: 500;
          font-family: "Montserrat";
          text-align: center;
          @media (min-width: 992px) {
            font-weight: 600;
            // font-size: 22px;
          }
          @include interpolate(
            "font-size",
            420px,
            14px,
            1200px,
            22px,
            "ease-in"
          );
        }
        &-info {
          margin-top: 4px;
          font-size: 14px;
          line-height: normal;
          color: #5b3220;
          font-weight: 500;
          font-family: "Montserrat";
          text-align: center;
          @media (min-width: 992px) {
            font-weight: 600;
            // font-size: 22px;
          }
          @include interpolate(
            "font-size",
            420px,
            14px,
            1200px,
            22px,
            "ease-in"
          );
        }
      }
    }
    nav {
      margin-top: 24px;
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
      margin-left: auto;
      margin-right: auto;
      @media (min-width: 576px) {
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
      }
      a {
        border-radius: var(--border-radius);
        text-align: center;
        line-height: normal;
        color: #3f0125;
        font-family: "Playfair Display";
        text-transform: uppercase;
        background-color: #b7926a;
        font-weight: 500;
        letter-spacing: 0.8px;
        font-size: 16px;
        padding: 4px 6px;
        flex: 0 0 100px;
        max-width: 100px;
        img {
          display: none;
        }
        @media (min-width: 768px) {
          span {
            display: none;
          }
          img {
            display: block;
          }
          padding: 0;
          border: 0;
          background: transparent;
          max-width: initial;
          flex: initial;
        }
      }
    }
  }
  // discount nav
  .section-discount {
    nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
      }
      gap: 0 14px;
      justify-content: center;
      align-items: center;
    }
  }
  .collection-saree .collection-item-name .collection-item-title {
    margin-bottom: 0;
  }
  // single collection
  .section-single-band {
    a {
      display: block;
      position: relative;
      img {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        min-height: 348px;
        object-fit: cover;
        object-position: left center;
        @media (min-width: 968px) {
          object-position: initial;
        }
      }
    }
    &.band-content-left,
    &.band-content-right {
      .section-single-band-content {
        padding: 0 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (min-width: 968px) {
          align-items: flex-end;
        }
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background: url(https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-border.png?v=1678712977)
            no-repeat center;
          @media (min-width: 968px) {
            background-size: cover;
          }
          @media (min-width: 1140px) {
            background-size: contain;
          }
        }
        &-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @media (min-width: 968px) {
            margin-right: 200px;
          }
        }
      }
    }
    &.band-content-left {
      .section-single-band-content {
        @media (min-width: 968px) {
          align-items: flex-start;
        }
        &-wrapper {
          @media (min-width: 968px) {
            margin-left: 200px;
          }
        }
      }
    }
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .content-title {
        text-align: center;
        color: #fcfafa;
        font-family: "voltaire_frangelaregular";
        text-shadow: 2px 3px 4px rgba(31, 8, 15, 0.75);
        padding-bottom: 24px;
        font-weight: 500;
        line-height: 1.25;
        --home-section-title: 30px;
        font-size: var(--home-section-title);
        @media (min-width: 768px) {
          --home-section-title: 46px;
          font-size: var(--home-section-title);
        }
      }
      .button {
        text-align: center;
        font-weight: 600;
        font-family: var(--font-montserrat);
        border-radius: var(--border-radius);
        cursor: pointer;
        border: 1px solid rgba(252, 250, 250, 0.8);
        background-color: rgba(252, 250, 250, 0.8);
        font-size: 13px;
        @media (min-width: 576px) {
          font-size: 14px;
        }
        line-height: 1.5;
        padding: 4px 12px;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.8);
        @media (min-width: 768px) {
          width: auto;
          min-width: 128px;
        }
      }
    }
  }
  // multi collection
  .collection-banner-text-image {
    overflow: hidden;
    padding-bottom: var(--home-section-space);
    display: block;
    position: relative;
    img:not(.small) {
      width: 100%;
      display: block;
      margin: 0 auto;
      min-height: 348px;
      object-fit: cover;
    }
    img.small {
      margin: 0 auto;
      text-align: center;
      display: block;
      max-width: 140px;
      @media (min-width: 768px) {
        max-width: 240px;
      }
    }
    .collection-banner-content {
      padding: 0 15px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media (min-width: 968px) {
        padding: 0;
      }
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0px;
        background-image: url("https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-border.png?v=1678712977");
        background-repeat: no-repeat;
        background-position: top center;
        @media (min-width: 968px) {
          background-size: cover;
        }
        @media (min-width: 1140px) {
          background-size: contain;
        }
      }
    }
    /* title */
    .collection-banner-text-banner-title {
      text-align: center;
      color: #fcfafa;
      font-family: "voltaire_frangelaregular";
      text-shadow: 2px 3px 4px rgba(31, 8, 15, 0.75);
      padding-bottom: 24px;
      font-weight: 500;
      line-height: 1.25;
      --home-section-title: 30px;
      font-size: var(--home-section-title);
      @media (min-width: 768px) {
        --home-section-title: 46px;
        font-size: var(--home-section-title);
      }
    }
    /* content */
    .collection-banner-text-banner-content {
      margin-left: auto;
      margin-right: auto;
      padding-top: 12px;
      padding-bottom: 0;
      color: #fff;
      text-shadow: 2px 3px 4px rgba(31, 8, 15, 0.75);
      font-family: var(--font-montserrat);
      line-height: normal;
      font-size: var(--home-section-secondary-title);
      @media (min-width: 768px) {
        --home-section-secondary-title: 22px;
        font-size: var(--home-section-secondary-title);
        padding-top: 24px;
        max-width: initial;
      }
    }
    /* nav text */
    .collection-banner-text-nav {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 24px;
      @media (min-width: 768px) {
        margin-top: 48px;
        display: flex;
        gap: 30px;
      }
      a {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-family: var(--font-montserrat);
        border-radius: var(--border-radius);
        cursor: pointer;
        border: 1px solid rgba(252, 250, 250, 0.8);
        background-color: rgba(252, 250, 250, 0.8);
        font-size: 13px;
        @media (min-width: 576px) {
          font-size: 14px;
        }
        line-height: 1.5;
        padding: 4px 12px;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.8);
        @media (min-width: 768px) {
          width: auto;
          min-width: 128px;
        }
      }
    }
  }
  .section-women {
    .collection-banner-content {
      &::before {
        background-image: url("https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-blouse-border.png?v=1678712361");
      }
    }
  }
  .section-fabric {
    .collection-banner-content {
      &::before {
        background-image: url("https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-fabric-border.png?v=1678725540");
      }
    }
  }
  .section-men {
    .collection-banner-content {
      &::before {
        background-image: url("https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-men-border.png?v=1678712361");
      }
    }
  }
}
section.instagram-page {
  .section-header-title {
    padding-top: 30px;
    @media (min-width: 768px) {
      padding-top: 60px;
    }
  }
  .section-header-title,
  .section-header-content {
    text-align: center;
  }
  .section-header-content {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.page-width {
  .shopify-block.shopify-app-block {
    padding-bottom: var(--home-section-space);
    padding-left: var(--Ngap);
    padding-right: var(--Ngap);
    @media (min-width: 1364px) {
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 0px;
      padding-bottom: 0;
    }
    div#insta-feed {
      display: grid;
      gap: 16px;
      padding: 0 15px;
      grid-template-columns: 1fr 1fr;
      @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      a {
        div.instafeed-container {
          width: 100% !important;
          padding-top: 100% !important;
          img {
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
      .instafeed-overlay:after {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
